{% extends "clc/form/form.html" %}
{% load i18n %}

{% block myjavascript %}

<script type="text/javascript">
    var cc_network_mode;
    var cc_usage;
    var cc_port_range;
    var pubip_range;
    var prvip_range;
    var service_ports;
    var ccip;
    var ccname;

    function enterLVDMode() {
        $('#port_config').css("display","none");
        //$('#pubip_config').css("display","none");
        //$('#dhcp_config').css("display","none");
    }

    function enterRVDMode() {
        $('#port_config').css("display","block");
        //$('#pubip_config').css("display","none");
        //$('#dhcp_config').css("display","none");
    }

    function enterVSMode() {
        $('#port_config').css("display","block");
        //$('#pubip_config').css("display","block");
        //$('#dhcp_config').css("display","block");
    }


    function init_data() {
        cc_port_range = $('#port_init_value').text().split('-');
        $('#port_start').val(cc_port_range[0]);
        $('#port_end').val(cc_port_range[1]);

        cc_usage = $('#usage_init_value').text();
        $('#cluster_usage').val(cc_usage);
    }

    function display_page() {
        if ($("#cluster_usage").val() == "lvd" ) {
            enterLVDMode();
        }
        if ($("#cluster_usage").val() == "rvd" ) {
            enterRVDMode();
        }
        if ($("#cluster_usage").val() == "vs" ) {
            enterVSMode();
        }
    }

    function submit_resources() {
        ccname = $("#ccname").attr('placeholder');
        cc_usage = $("#cluster_usage").val();
        cc_port_range = $('#port_start').val() + "-" + $('#port_end').val();

        url = "/clc/cc/modify/resources/" + ccname;
        postdata = {
            usage:        cc_usage,
            port_range:   cc_port_range,
        }

        $.post(url, postdata, function(data) {
            var items = [];
            $.each(data, function (key, val) {
                items[key] = val;
            });
            if (items['Result'] == "OK") {
                $('.alert-success').css('display', 'block');
                $('.alert-danger').css( 'display', 'none');
                $('.btn').addClass('disabled');
            } else {
                $('.alert-success').css('display', 'none');
                $('.alert-danger').css( 'display', 'block');
            }
        });
    }

    $(document).ready(function () {

        $("#cluster_usage").change(function(){
            display_page();
        });

        $("#mysubmit").click(function(){
            submit_resources();
        });

        $("#myreset").click(function(){
            location.reload();
        });

        init_data();
        display_page();

    });

</script>

{% endblock %}

{% block myform %}

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">
    <h2>Cluster Network Configuration</h2>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
            <!-- /.col-lg-6 (nested) -->
            <div class="col-lg-6">
                <div role="form">
                    <fieldset disabled="">
                        <div class="form-group">
                            <label>Cluster Name</label>
                            <input id="ccname" class="form-control" type="text" placeholder="{{ ccres.ccname }}" disabled="">
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <div id="usage_init_value" style="display:none">{{ ccres.cc_usage }}</div>
                        <label>Cluster Usage</label>
                        <select id="cluster_usage" class="form-control">
                            <option value="lvd">Local Cloud Desktop</option>
                            <option value="rvd">Remote Cloud Desktop</option>
                            <option value="vs" >Cloud Virtual Server</option>
                        </select>
                    </div>

                    <div id="port_config">
                    <label>RDP Port Range</label>
                    <div class="form-group">
                        <div id="port_init_value" style="display:none">{{ ccres.rdp_port_pool_def }}</div>
                        <label class="input-inline">
                            <input id="port_start" type="text" class="form-control" value="3389">
                        </label>
                        <label class="input-inline"> - </label>
                        <label class="input-inline">
                            <input id="port_end" type="text" class="form-control" value="4389">
                        </label>
                    </div>
                    </div>


                    <button id="mysubmit" type="submit" class="btn btn-primary">Submit Button</button>
                    <button id="myreset"  type="reset" class="btn btn-default">Reset Button</button>
                </div>
                <p></p>
                <div class="alert alert-success" style="display: none">
                      Update Network Resource Successfully.
                </div>
                <div class="alert alert-danger" style="display: none">
                      Update Network Resource Failed, try again.
                </div>

        </div>
        <!-- /.col-lg-6 (nested) -->
    </div>
    <!-- /.row (nested) -->
</div>
<!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>
{% endblock %}

