
{% extends "clc/form/form.html" %}
{% load i18n %}

{% block myjavascript %}

<script type="text/javascript">
    var cc_network_mode;
    var cc_usage;
    var cc_port_range;
    var pubip_range;
    var prvip_range;
    var service_ports;
    var ccip;
    var ccname;

    // there are below mode available for configuration
    // mode 1: lvd, nothing to configure

    // mode 2: rvd + flat
    // - configure rdp port

    // mode 3: rvd + tree
    // - configure rdp port
    // - configure iptable rule when vm is running

    // mode 4: vs  + flat + shared dhcp
    // - configure rdp port
    // - configure ethers

    // mode 5: vs  + flat + private dhcp
    // - configure rdp port
    // - configure dhcp ip range and eth interface
    // - configure ethers

    // mode 6: vs  + tree + shared dhcp
    // - configure rdp port
    // - configure ethers
    // - configure pub ips
    // - configure iptable rule when vm is running

    // mode 7: vs  + tree + private dhcp
    // - configure rdp port
    // - configure dhcp ip range and eth interface
    // - configure ethers
    // - configure pub ips
    // - configure iptable rule when vm is running

    function enterLVDMode() {
        $('#network_mode_config').css("display","none");
        $('#dhcp_type_config').css("display","none");

        $('#rdp_port_config').css("display","none");
        $('#dhcp_ip_config').css("display","none");
        $('#dhcp_if_config').css("display","none");
        $('#ethers_config').css("display","none");
        $('#pub_ip_config').css("display","none");
    }

    function enterRVDflatMode() {
        $('#network_mode_config').css("display","block");
        $('#dhcp_type_config').css("display","none");

        $('#rdp_port_config').css("display","block");
        $('#dhcp_ip_config').css("display","none");
        $('#dhcp_if_config').css("display","none");
        $('#ethers_config').css("display","none");
        $('#pub_ip_config').css("display","none");
    }

    function enterRVDTreeMode() {
        $('#network_mode_config').css("display","block");
        $('#dhcp_type_config').css("display","none");

        $('#rdp_port_config').css("display","block");
        $('#dhcp_ip_config').css("display","none");
        $('#dhcp_if_config').css("display","none");
        $('#ethers_config').css("display","none");
        $('#pub_ip_config').css("display","none");
    }

    function enterVSflatShareDHCPMode() {
        $('#network_mode_config').css("display","block");
        $('#dhcp_type_config').css("display","block");

        $('#rdp_port_config').css("display","block");
        $('#dhcp_ip_config').css("display","none");
        $('#dhcp_if_config').css("display","none");
        $('#ethers_config').css("display","block");
        $('#pub_ip_config').css("display","none");
    }

    function enterVSflatPrivateDHCPMode() {
        $('#network_mode_config').css("display","block");
        $('#dhcp_type_config').css("display","block");

        $('#rdp_port_config').css("display","block");
        $('#dhcp_ip_config').css("display","block");
        $('#dhcp_if_config').css("display","block");
        $('#ethers_config').css("display","block");
        $('#pub_ip_config').css("display","none");
    }

    function enterVSTreeShareDHCPMode() {
        $('#network_mode_config').css("display","block");
        $('#dhcp_type_config').css("display","block");

        $('#rdp_port_config').css("display","block");
        $('#dhcp_ip_config').css("display","none");
        $('#dhcp_if_config').css("display","none");
        $('#ethers_config').css("display","block");
        $('#pub_ip_config').css("display","block");
    }

    function enterVSTreePrivateDHCPMode() {
        $('#network_mode_config').css("display","block");
        $('#dhcp_type_config').css("display","block");

        $('#rdp_port_config').css("display","block");
        $('#dhcp_ip_config').css("display","block");
        $('#dhcp_if_config').css("display","block");
        $('#ethers_config').css("display","block");
        $('#pub_ip_config').css("display","block");
    }

    function init_data() {
        cc_usage = $('#usage_init_value').text();
        $('#cluster_usage').val(cc_usage);

        network_mode = $('#network_mode_init_value').text();
        $('#network_mode_value').val(network_mode);

        dhcp_type = $('#dhcp_type_init_value').text();
        $('#dhcp_type_value').val(dhcp_type);

        cc_port_range = $('#port_init_value').text().split('-');
        $('#port_start').val(cc_port_range[0]);
        $('#port_end').val(cc_port_range[1]);

        dhcp_if = $('#dhcp_if_init_value').text();
        $('#dhcp_if_value').val(dhcp_if);

        dhcp_ip_range = $('#dhcp_ip_init_value').text().split('-');
        $('#dhcp_ip_start').val(dhcp_ip_range[0]);
        $('#dhcp_ip_end').val(dhcp_ip_range[1]);

        pub_ip_range = $('#pub_ip_init_value').text().split('-');
        $('#pub_ip_start').val(pub_ip_range[0]);
        $('#pub_ip_end').val(pub_ip_range[1]);
    }

    function display_page() {
        if ($("#cluster_usage").val() == "lvd" ) {
            enterLVDMode();
        }
        if ($("#cluster_usage").val()      == "rvd"  &&
            $("#network_mode_value").val() == "flat"
            ) {
            enterRVDflatMode();
        }
        if ($("#cluster_usage").val()      == "rvd"  &&
            $("#network_mode_value").val() == "tree"
            ) {
            enterRVDTreeMode();
        }
        if ($("#cluster_usage").val()      == "vs"   &&
            $("#network_mode_value").val() == "flat" &&
            $("#dhcp_type_value").val()    == "external"
            ) {
            enterVSflatShareDHCPMode();
        }
        if ($("#cluster_usage").val()      == "vs"   &&
            $("#network_mode_value").val() == "flat" &&
            $("#dhcp_type_value").val()    == "private"
            ) {
            enterVSflatPrivateDHCPMode();
        }
        if ($("#cluster_usage").val()      == "vs"   &&
            $("#network_mode_value").val() == "tree" &&
            $("#dhcp_type_value").val()    == "external"
            ) {
            enterVSTreeShareDHCPMode();
        }
        if ($("#cluster_usage").val()      == "vs"   &&
            $("#network_mode_value").val() == "tree" &&
            $("#dhcp_type_value").val()    == "private"
            ) {
            enterVSTreePrivateDHCPMode();

        }
    }

    function edit_ethers() {

        url="/clc/jt/ethers/{{ ccres.ccname }}";
        var left = ($(window).width() / 2) - (800 / 2);
        var top = ($(window).height() / 2) - (600 / 2);
        window.open(url, '', 'height=350,width=800,left=' + left + ',top=' + top);
    }

    function submit_resources() {
        ccname = $("#ccname").attr('placeholder');

        cc_usage     = $("#cluster_usage").val();
        network_mode = $("#network_mode_value").val();
        dhcp_type    = $("#dhcp_type_value").val();

        rdp_port_range = $('#port_start').val() + "-" + $('#port_end').val();
        dhcp_if        = $("#dhcp_if_value").val();
        dhcp_ip_range  = $('#dhcp_ip_start').val() + "-" + $('#dhcp_ip_end').val();
        pub_ip_range   = $('#pub_ip_start').val()  + "-" + $('#pub_ip_end').val();

        url = "/clc/cc/modify/resources/" + ccname;
        postdata = {
            usage           :   cc_usage,
            network_mode    :   network_mode,
            dhcp_type       :   dhcp_type,

            rdp_port_def    :   rdp_port_range,
            dhcp_if         :   dhcp_if,
            dhcp_ip_def     :   dhcp_ip_range,
            pub_ip_def       :  pub_ip_range
        }

        $.post(url, postdata, function(data) {
            var items = [];
            $.each(data, function (key, val) {
                items[key] = val;
            });
            if (items['Result'] == "OK") {
                $('.alert-success').css('display', 'block');
                $('.alert-danger').css( 'display', 'none');
                $('.btn').addClass('disabled');
            } else {
                $('.alert-success').css('display', 'none');
                $('.alert-danger').css( 'display', 'block');
            }
        });
    }

    $(document).ready(function () {

        $("#cluster_usage").change(function(){
            display_page();
        });
        $("#network_mode_value").change(function(){
            display_page();
        });
        $("#dhcp_type_value").change(function(){
            display_page();
        });


        $("#mysubmit").click(function(){
            submit_resources();
        });

        $("#myreset").click(function(){
            location.reload();
        });

        $("#ethers_btn").click(function(){
            edit_ethers();
        });

        init_data();
        display_page();

    });

</script>

{% endblock %}

{% block myform %}

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">
    <h2>Cluster Network Configuration</h2>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
            <!-- /.col-lg-6 (nested) -->
            <div class="col-lg-6">
                <div role="form">
                    <fieldset disabled="">
                        <div class="form-group">
                            <label>Cluster Name</label>
                            <input id="ccname" class="form-control" type="text" placeholder="{{ ccres.ccname }}" disabled="">
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <div id="usage_init_value" style="display:none">{{ ccres.cc_usage }}</div>
                        <label>Cluster Usage</label>
                        <select id="cluster_usage" class="form-control">
                            <option value="lvd">Local Cloud Desktop</option>
                            <option value="rvd">Remote Cloud Desktop</option>
                            <option value="vs">Cloud Virtual Server</option>
                        </select>
                    </div>

                    <div id="network_mode_config">
                        <div class="form-group">
                            <div id="network_mode_init_value" style="display:none">{{ ccres.network_mode }}</div>
                            <label>Network Mode</label>
                            <select id="network_mode_value" class="form-control">
                                <option value="flat">Flat</option>
                                <option value="tree">Tree</option>
                            </select>
                        </div>
                    </div>

                    <div id="rdp_port_config">
                        <label>RDP Port Range</label>
                        <div class="form-group">
                            <div id="port_init_value" style="display:none">{{ ccres.rdp_port_pool_def }}</div>
                            <label class="input-inline">
                                <input id="port_start" type="text" class="form-control" value="3389">
                            </label>
                            <label class="input-inline"> - </label>
                            <label class="input-inline">
                                <input id="port_end" type="text" class="form-control" value="3489">
                            </label>
                        </div>
                    </div>

                    <div id="dhcp_type_config">
                        <div class="form-group">
                            <div id="dhcp_type_init_value" style="display:none">{{ ccres.dhcp_service }}</div>
                            <label>DHCP Mode</label>
                            <select id="dhcp_type_value" class="form-control">
                                <option value="external">External</option>
                                <option value="private">Private</option>
                            </select>
                        </div>
                    </div>


                    <div id="dhcp_if_config">
                        <div class="form-group">
                            <div id="dhcp_if_init_value" style="display:none">{{ ccres.dhcp_interface }}</div>
                            <label>DHCP Interface</label>
                            <select id="dhcp_if_value" class="form-control">
                                <option value="eth0">eth0</option>
                                <option value="eth1">eth1</option>
                                <option value="eth2">eth2</option>
                                <option value="eth3">eth3</option>
                            </select>
                        </div>
                    </div>

                     <div id="dhcp_ip_config">
                        <label>DHCP IP Range</label>
                        <div class="form-group">
                            <div id="dhcp_ip_init_value" style="display:none">{{ ccres.dhcp_pool_def }}</div>
                            <label class="input-inline">
                                <input id="dhcp_ip_start" type="text" class="form-control" value="">
                            </label>
                            <label class="input-inline"> - </label>
                            <label class="input-inline">
                                <input id="dhcp_ip_end" type="text" class="form-control" value="">
                            </label>
                        </div>
                    </div>

                    <div id="ethers_config">
                        <label>Configure Ethers</label>
                        <div class="form-group">
                            <button id="ethers_btn" type="submit" class="btn btn-default">Ethers</button>
                        </div>
                    </div>

                    <div id="pub_ip_config">
                        <label>Public IP Range</label>
                        <div class="form-group">
                            <div id="pub_ip_init_value" style="display:none">{{ ccres.pub_ip_pool_def }}</div>
                            <label class="input-inline">
                                <input id="pub_ip_start" type="text" class="form-control" value="">
                            </label>
                            <label class="input-inline"> - </label>
                            <label class="input-inline">
                                <input id="pub_ip_end" type="text" class="form-control" value="">
                            </label>
                        </div>
                    </div>

                    <button id="mysubmit" type="submit" class="btn btn-primary">Submit Button</button>
                    <button id="myreset"  type="reset" class="btn btn-default">Reset Button</button>
                </div>
                <p></p>
                <div class="alert alert-success" style="display: none">
                      Update Network Resource Successfully.
                </div>
                <div class="alert alert-danger" style="display: none">
                      Update Network Resource Failed, try again.
                </div>

        </div>
        <!-- /.col-lg-6 (nested) -->
    </div>
    <!-- /.row (nested) -->
</div>
<!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>
{% endblock %}

