{% extends "clc/form/form.html" %}
{% load i18n %}

{% block myjavascript %}
<script type="text/javascript">
    function submit_eip() {
        eip = $("#eip").val();
        role = $("#role").text();
        mac0 = $("#mac0").text();

        url = "/clc/api/1.0/eip/update";
        postdata = {
            eip:        eip,
            role:       role,
            mac0:        mac0,
        }

        $.post(url, postdata, function(data) {
            var items = [];
            $.each(data, function (key, val) {
                items[key] = val;
            });
            if (items['Result'] == "OK") {
                $('.alert-success').css('display', 'block');
                $('.alert-danger').css( 'display', 'none');
                $('.btn').addClass('disabled');
            } else {
                $('.alert-success').css('display', 'none');
                $('.alert-danger').text(items['errormsg']);
                $('.alert-danger').css( 'display', 'block');
            }
        });
    }

    $(document).ready(function () {
        $("#mysubmit").click(function(){
            submit_eip();
        });

        $("#myreset").click(function(){
            location.reload();
        });

    });
</script>
{% endblock%}

{% block myform %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Edit Servers External IP</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div role="form">
                            <div class="form-group">
                                <label>External IP Adress</label>
                                <input class="form-control" id="eip" value="{{ eip }}">
                            </div>
                            <button id="mysubmit" type="submit" class="btn btn-primary">Submit Button</button>
                            <button id="myreset"  type="reset" class="btn btn-default">Reset Button</button>
                        </div>
                        <p></p>
                        <div class="alert alert-success" style="display: none">
                            New External IP is updated Successfully.
                        </div>
                        <div class="alert alert-danger" style="display: none">
                            Update External IP Failed, try again.
                        </div>
                        <div style="display:none" id="role">{{role}}</div>
                        <div style="display:none" id="mac0">{{mac0}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
