{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />

    <link href="{% static "clc/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "clc/css/sb-admin-2.css" %}" rel="stylesheet">
    <link href="{% static "clc/font-awesome-4.1.0/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">


    <script src="{% static "clc/js/jquery-1.11.0.js" %}"></script>
    <script src="{% static "clc/js/bootstrap.min.js" %}"></script>

    {% block myjavascript %}
    {% endblock %}

    <title>{{ pagetitle }}</title>
</head>
<body>
    {% block myform %}
    {% endblock %}
</body>
</html>