{% extends "clc/form/form.html" %}
{% load i18n %}

{% block myjavascript %}
<script type="text/javascript">
    var perm_str = "";

    function submit_resources() {
        imgid = $('#imgid').text();
        table = $('#table').text();
        rows  = $('#next').text();

        for (index=0; index<parseInt(rows); index++) {
            idstr = '#perm' + index.toString();
            role = $(idstr).val();
            if ( role == "") {
                continue;
            }
            read    = $('#checkbox_perm' + index.toString() + '> label:nth-child(2) > input[type="checkbox"]').is(':checked');
            write   = $('#checkbox_perm' + index.toString() + '> label:nth-child(3) > input[type="checkbox"]').is(':checked');
            execute = $('#checkbox_perm' + index.toString() + '> label:nth-child(4) > input[type="checkbox"]').is(':checked');
            create  = $('#checkbox_perm' + index.toString() + '> label:nth-child(5) > input[type="checkbox"]').is(':checked');
            del     = $('#checkbox_perm' + index.toString() + '> label:nth-child(6) > input[type="checkbox"]').is(':checked');
            tmp_perm_str = role + ":" + read + ":" + write + ":" + execute + ":" + create + ":" + del + "#";
            perm_str = perm_str + tmp_perm_str;
        }

        url = "/clc/api/1.0/perm/update";
        postdata = {
            id:             imgid,
            table:          table,
            data:           perm_str,
        }

        $.post(url, postdata, function(data) {
            var items = [];
            $.each(data, function (key, val) {
                items[key] = val;
            });
            if (items['Result'] == "OK") {
                $('.alert-success').css('display', 'block');
                $('.alert-danger').css( 'display', 'none');
                $('.btn').addClass('disabled');
            } else {
                $('.alert-success').css('display', 'none');
                $('.alert-danger').text(items['errormsg']);
                $('.alert-danger').css( 'display', 'block');
            }
        });

    }

    function bind_click_event() {

        $('body').on("click", ".delete_btn", function(){
            //console.log(id);
            var select_id = this.id.split("_")[1];
            var e = document.getElementById(select_id);
            var role_value = e.options[e.selectedIndex].value;

            imgid = $('#imgid').text();
            table = $('#table').text();

            url = "/clc/api/1.0/perm/delete";
            postdata = {
                id:             imgid,
                table:          table,
                data:           role_value,
            }
            $.post(url, postdata, function(data) {
                location.reload();
            });
        });
    }

    function add_new_role() {
        next = $('#next').text();
        el = '<div class="well well-sm">\
                  <div class="form-group"> \
                        <label>{% trans "Allocated Role" %}:</label> \
                        <select id="perm' + next + '" class="form-control-inline"> \
                            <option value=""></option> \
                            {% for role in roles %} \
                            <option value="{{ role.value }}">{{ role.name }}</option> \
                            {% endfor %} \
                        </select> \
                        <button id="btn_perm' + next + '" class="btn btn-default pull-right delete_btn">{% trans "Delete" %}</button>\
                   </div> \
                   <div class="form-group" id="checkbox_perm' + next + '"> \
                        <label>{% trans "Access Contorl" %}:</label> \
                        <label class="checkbox-inline"> \
                            <input type="checkbox">{% trans "Read" %} \
                        </label> \
                        <label class="checkbox-inline"> \
                            <input type="checkbox">{% trans "Write" %} \
                        </label> \
                        <label class="checkbox-inline"> \
                            <input type="checkbox">{% trans "Execute" %} \
                        </label> \
                        <label class="checkbox-inline"> \
                            <input type="checkbox">{% trans "Create" %} \
                        </label>\
                        <label class="checkbox-inline">\
                            <input type="checkbox">{% trans "Delete" %} \
                        </label>\
                    </div>\
              </div>';
        $('#mysubmit').before(el);
        $('#next').text(parseInt(next) + 1);
    }

    function init_data() {
        {% for perm in perms %}
        $('#{{ perm.id}}').val('{{ perm.role_value}}')
        {% endfor%}
    }


    $(document).ready(function () {
        $("#mysubmit").click(function(){
            submit_resources();
        });

        $("#add").click(function(){
            add_new_role();
        });

        bind_click_event();

        //init_data();

    });
</script>
{% endblock %}

{% block myform %}
<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">
    <h2>{{ res }} {% trans "Permission Configuration" %}</h2>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-9">
            <!-- /.col-lg-6 (nested) -->
            <div class="col-lg-9">
                <div role="form" id="myform">
                    <div id="imgid" style="display:none">{{ imgobj.ecid }}</div>
                    <div id="table" style="display:none">{{ table }}</div>
                    <div id="next" style="display:none">{{ next }}</div>
                    {% for perm in perms %}
                    <div class="well well-sm">
                        <div class="form-group">
                            <label>{% trans "Allocated Role" %}:</label>
                            <select id="{{ perm.id }}" class="form-control-inline">
                                <option value=""></option>
                                {% for role in roles %}
                                    {% if role.value == perm.role_value %}
                                        <option selected value="{{ role.value }}">{{ role.name }}</option>
                                    {% else %}
                                        <option value="{{ role.value }}">{{ role.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <button id="btn_{{ perm.id }}" class="btn btn-default pull-right delete_btn">{% trans "Delete" %}</button>
                        </div>
                        <div class="form-group" id="checkbox_{{ perm.id  }}">
                            <label>{% trans "Access Contorl" %}:</label>
                            <label class="checkbox-inline">
                                {% if perm.read == 1 %}
                                <input type="checkbox" checked="checked">{% trans "Read" %}
                                {% else %}
                                <input type="checkbox">{% trans "Read" %}
                                {% endif %}
                            </label>
                            <label class="checkbox-inline">
                                {% if perm.write == 1 %}
                                <input type="checkbox" checked="checked">{% trans "Write" %}
                                {% else %}
                                <input type="checkbox">{% trans "Write" %}
                                {% endif %}
                            </label>
                            <label class="checkbox-inline">
                                {% if perm.execute == 1 %}
                                <input type="checkbox" checked="checked">{% trans "Execute" %}
                                {% else %}
                                <input type="checkbox">{% trans "Execute" %}
                                {% endif %}
                            </label>
                            <label class="checkbox-inline">
                                {% if perm.create == 1 %}
                                <input type="checkbox" checked="checked">{% trans "Create" %}
                                {% else %}
                                <input type="checkbox">{% trans "Create" %}
                                {% endif %}
                            </label>
                            <label class="checkbox-inline">
                                {% if perm.delete == 1 %}
                                <input type="checkbox" checked="checked">{% trans "Delete" %}
                                {% else %}
                                <input type="checkbox">{% trans "Delete" %}
                                {% endif %}
                            </label>
                        </div>
                    </div>
                    {% endfor %}

                    <button id="mysubmit" type="submit" class="btn btn-primary">{% trans "Submit Button" %}</button>
                    <button id="add"      class="btn btn-default">{% trans "Add Permission" %}</button>
                </div>
                <p></p>
                <div class="alert alert-success" style="display: none">
                      {% trans "Update Permission Successfully." %}
                </div>
                <div class="alert alert-danger" style="display: none">
                      {% trans "Update Permission Failed, try again." %}
                </div>
        </div>
        <!-- /.col-lg-6 (nested) -->
    </div>
    <!-- /.row (nested) -->
</div>
<!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>
{% endblock %}
