{% extends "portal/portal_template.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{ uid }}'s Cloud Desktop</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	        <div class="container">
	        	<div class="row">

	        		<div class="col-md-3 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="{% static "portal/img/desktop/Ubuntu.png" %}" alt="Service Name" %}">
		        			<h3>Brilliant Look</h3>
		        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames. <a href="#">Read more...</a></p>
	        			</div>
	        		</div>

					<div class="col-md-3 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="{% static "portal/img/desktop/Windows7.png" %}" alt="Service Name" %}">
		        			<h3>Brilliant Look</h3>
		        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames. <a href="#">Read more...</a></p>
	        			</div>
	        		</div>

	        		<div class="col-md-3 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="{% static "portal/img/desktop/Windows8.png" %}" alt="Service Name" %}">
		        			<h3>Brilliant Look</h3>
		        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames. <a href="#">Read more...</a></p>
	        			</div>
	        		</div>

					<div class="col-md-3 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="{% static "portal/img/desktop/WindowsXP.png" %}" alt="Service Name" %}">
		        			<h3>Brilliant Look</h3>
		        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames. <a href="#">Read more...</a></p>
	        			</div>
	        		</div>


	        	</div>
	        </div>
	    </div>

{% endblock %}

{% block myjs %}
<style type="text/css">
img {
	display:inline-block;
	width:150px;
	height:150px;
	overflow:hidden;
	}
</style>
{% endblock %}