{% extends "portal/portal_template.html" %}
{% load i18n %}
{% load staticfiles %}


{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Cloud Applications</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	        <div class="container">
	        	<div class="row">

	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="{% static "portal/img/cloud-website.png" %}">
		        			<h3>Aliquam in adipiscing</h3>
		        			<p>Praesent rhoncus mauris ac sollicitudin vehicula. Nam fringilla turpis turpis, at posuere turpis aliquet sit amet condimentum</p>
		        			<a href="#" class="btn">Enter</a>
		        		</div>
	        		</div>

					<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<img src="{% static "portal/img/cloud-website.png" %}">
		        			<h3>Aliquam in adipiscing</h3>
		        			<p>Praesent rhoncus mauris ac sollicitudin vehicula. Nam fringilla turpis turpis, at posuere turpis aliquet sit amet condimentum</p>
		        			<a href="#" class="btn">Enter</a>
		        		</div>
	        		</div>

	        	</div>
	        </div>
	    </div>

{% endblock %}