{% extends "portal/portal_template.html" %}
{% load i18n %}
{% load staticfiles %}

{% block myjs %}
<style type="text/css">
.mydoc {
	display:inline-block;
	width:150px;
	height:120px;
	overflow:hidden;
	}
</style>
{% endblock %}

{% block content %}

		<div class="section section-white">
	    	<div class="container">
	    		<h2>{% trans "EduCloud Platform Services" %}</h2>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="/portal/cloud-applications"><img src="{% static "portal/img/cloud-application.jpg" %}" ></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">{% trans "Cloud Application" %}</li>
									<li></li>
									<li class="read-more"><a href="/portal/cloud-applications" class="btn">{% trans "Enter" %}</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="/portal/vdlogin"><img src="{% static "portal/img/cloud-desktop.jpg" %}" ></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">{% trans "Cloud Desktop" %}</li>
									<li></li>
									<li class="read-more"><a href="/portal/vdlogin" class="btn">{% trans "Enter" %}</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="/portal/admlogin"><img src="{% static "portal/img/cloud-admin.jpg" %}" ></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">{% trans "Cloud Adminstation" %}</li>
									<li></li>
									<li class="read-more"><a href="/portal/admlogin" class="btn">{% trans "Enter" %}</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	    <div class="section">
	        <div class="container">
                <h2>{% trans "EduCloud Platform Documents" %}</h2>
	        	<div class="row">
	        		<div class="col-md-3 col-sm-6">
	        			<div class="service-wrapper">
		        			<img class="mydoc" src="{% static "portal/img/documents/ppt.jpg" %}">
		        			<h3>{% trans "Product Introduction" %}</h3>
		        			<p>{% trans "including PPTs for introduction level" %}</p>
                            <a href="/portal/ppts">{% trans "Read more..." %}</a>
	        			</div>
	        		</div>
	                <div class="col-md-3 col-sm-6">
	        			<div class="service-wrapper">
		        			<img class="mydoc" src="{% static "portal/img/documents/video.png" %}">
		        			<h3>{% trans "Demo Video" %}</h3>
		        			<p>{% trans "including video for both user & administrator's operation" %}</p>
                            <a href="/portal/videos">{% trans "Read more..." %}</a>
	        			</div>
	        		</div>
                    <div class="col-md-3 col-sm-6">
	        			<div class="service-wrapper">
		        			<img class="mydoc" src="{% static "portal/img/documents/documents.png" %}">
		        			<h3>{% trans "Tech Documents" %}</h3>
		        			<p>{% trans "including manual for both user & administrator" %}</p>
                            <a href="/portal/documents">{% trans "Read more..." %}</a>
	        			</div>
	        		</div>
                    <div class="col-md-3 col-sm-6">
	        			<div class="service-wrapper">
		        			<img class="mydoc" src="{% static "portal/img/documents/sdk.png" %}">
		        			<h3>{% trans "SDK Info" %}</h3>
		        			<p>{% trans "including SDK for cloud Desktop client" %}</p>
                            <a href="/portal/sdk">{% trans "Read more..." %}</a>
	        			</div>
	        		</div>
	        	</div>
	        </div>
	    </div>

	    <!-- Our Clients -->
	    <div class="section section-white">
	    	<div class="container">
	    		<h2>{% trans "Our Clients" %}</h2>
				<div class="clients-logo-wrapper text-center row">
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/canon.png" %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/cisco.png" %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/dell.png"  %}"  alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/ea.png"    %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/ebay.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/facebook.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/google.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/hp.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/microsoft.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/mysql.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/sony.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/yahoo.png"  %}" alt="Client Name"></a></div>
				</div>
			</div>
	    </div>
	    <!-- End Our Clients -->
{% endblock %}
