{% extends "portal/portal_template.html" %}
{% load i18n %}
{% load staticfiles %}


{% block content %}

		<div class="section section-white">
	    	<div class="container">
	    		<h2>{% trans "EduCloud Platform Services" %}</h2>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="/portal/cloud-applications"><img src="{% static "portal/img/cloud-application.jpg" %}" ></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">{% trans "Cloud Application" %}</li>
									<li></li>
									<li class="read-more"><a href="/portal/cloud-applications" class="btn">{% trans "Enter" %}</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="/portal/vdlogin"><img src="{% static "portal/img/cloud-desktop.jpg" %}" ></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">{% trans "Cloud Desktop" %}</li>
									<li></li>
									<li class="read-more"><a href="/portal/vdlogin" class="btn">{% trans "Enter" %}</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="/portal/admlogin"><img src="{% static "portal/img/cloud-admin.jpg" %}" ></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">{% trans "Cloud Adminstation" %}</li>
									<li></li>
									<li class="read-more"><a href="/portal/admlogin" class="btn">{% trans "Enter" %}</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Testimonials -->
	    <div class="section section-white">
			<div class="container">
				<h2>{% trans "EduCloud Platform Documents" %}</h2>
				<div class="row">
					<!-- Testimonial -->
					<div class="testimonial col-md-4 col-sm-6">
						<!-- Author Photo -->
						<div class="author-photo">
							<img src="{% static "portal/img/user1.jpg" %}" alt="Author 1">
						</div>
						<div class="testimonial-bubble">
							<blockquote>
								<!-- Quote -->
								<p class="quote">
		                            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
                        		</p>
                        		<!-- Author Info -->
                        		<cite class="author-info">
                        			- Name Surname,<br>Managing Director at <a href="#">Some Company</a>
                        		</cite>
                        	</blockquote>
                        	<div class="sprite arrow-speech-bubble"></div>
                        </div>
                    </div>
                    <!-- End Testimonial -->
                    <div class="testimonial col-md-4 col-sm-6">
						<div class="author-photo">
							<img src="{% static "portal/img/user5.jpg" %}" alt="Author 2">
						</div>
						<div class="testimonial-bubble">
							<blockquote>
								<p class="quote">
		                            "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."
                        		</p>
                        		<cite class="author-info">
                        			- Name Surname,<br>Managing Director at <a href="#">Some Company</a>
                        		</cite>
                        	</blockquote>
                        	<div class="sprite arrow-speech-bubble"></div>
                        </div>
                    </div>
					<div class="testimonial col-md-4 col-sm-6">
						<div class="author-photo">
							<img src="{% static "portal/img/user2.jpg" %}" alt="Author 3">
						</div>
						<div class="testimonial-bubble">
							<blockquote>
								<p class="quote">
		                            "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
                        		</p>
                        		<cite class="author-info">
                        			- Name Surname,<br>Managing Director at <a href="#">Some Company</a>
                        		</cite>
                        	</blockquote>
                        	<div class="sprite arrow-speech-bubble"></div>
                        </div>
                    </div>
				</div>
			</div>
	    </div>
	    <!-- End Testimonials -->

	    <!-- Our Clients -->
	    <div class="section section-white">
	    	<div class="container">
	    		<h2>{% trans "Our Clients" %}</h2>
				<div class="clients-logo-wrapper text-center row">
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/canon.png" %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/cisco.png" %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/dell.png"  %}"  alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/ea.png"    %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/ebay.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/facebook.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/google.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/hp.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/microsoft.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/mysql.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/sony.png"  %}" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{% static "portal/img/logos/yahoo.png"  %}" alt="Client Name"></a></div>
				</div>
			</div>
	    </div>
	    <!-- End Our Clients -->
{% endblock %}
