{% extends "portal/portal_template.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{% trans "Login For Cloud Desktop" %}</h1>
					</div>
				</div>
			</div>
		</div>


        
        <div class="section section-white">
	    	<div class="container">
				<div class="row ">
                    <div class="col-sm-5">
                        <div class="portfolio-image">
                            <img src="{% static "portal/img/cloud-desktop.jpg" %}" alt='{% trans "Cloud Desktop" %}'>
                        </div>
                    </div>

					<div class="col-sm-5">
						<div class="basic-login">
							<form role="form" role="form">
                                <div id="tips"><p id="erro_msg" style="color:red"></p></div>
								<div class="form-group">
		        				 	<label for="email"><i class="icon-user"></i> <b>{% trans "Username or Email" %}</b></label>
									<input class="form-control" id="email" type="text" placeholder="">
								</div>
								<div class="form-group">
		        				 	<label for="passwd"><i class="icon-lock"></i> <b>{% trans "Password" %}</b></label>
									<input class="form-control" id="passwd" type="password" placeholder="">
								</div>
								<div class="form-group">
									<!--<label class="checkbox">
										<input type="checkbox"> Remember me
									</label>-->
									<!--<a href="page-password-reset.html" class="forgot-password">Forgot password?</a>-->
                                    <a href="JavaScript:void(0);" onclick="requestNewAccount();">{% trans "New Account" %}</a>
									<button type="button" id="logon_btn" class="btn pull-right">{% trans "Login" %}</button>
									<div class="clearfix"></div>
								</div>

							</form>
						</div>
					</div>


				</div>
			</div>
		</div>
{% endblock %}

{% block myjs %}
<script>
function requestNewAccount() {
    url="/clc/request_new_account";
    var left = ($(window).width() / 2) - (800 / 2);
    var top = ($(window).height() / 2) - (600 / 2);
    window.open(url, '', 'height=760,width=550,left=' + left + ',top=' + top);
}

$(document).ready(function () {
    $("#logon_btn").click(function () {
        vemail = $("#email").val();
        secrete = $("#passwd").val();
        if (vemail == "")
        {
            $("#erro_msg").text("{% trans "Please input user email address !" %}");
        }
        else if (secrete == "")
        {
            $("#erro_msg").text("{% trans "Please input user password !" %}");
        }
        else
        {
            url = "/clc/api/1.0/user_login";
            $.post(url, { email: vemail, password: secrete }, function (data) {
                var items = [];
                $.each(data, function (key, val) {
                    items[key] = val
                });
                if (items['status'] == 'SUCCESS') {
                    window.location.replace(items['url']);
                } else {
                    $("#erro_msg").text(items['reason']);
                }
            });
        }
    });
});
</script>
{% endblock %}