{% extends "portal/portal_template.html" %}
{% load i18n %}
{% load staticfiles %}

{% block myjs %}
<style type="text/css">
.mydoc {
	display:inline-block;
	width:150px;
	height:120px;
	overflow:hidden;
	}
</style>
{% endblock %}

{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{% trans "Product PPTs" %}</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	        <div class="container">
	        	<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img class="mydoc" src="{% static "portal/img/documents/ppt.jpg" %}">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<!--<h3>{% trans "Product Introduction" %}</h3>-->
                        <h3>私有云平台的意义</h3>
    					<li><a href="http://pan.baidu.com/s/1EqPqA">为什么是云平台？</a></li>
                        <li><a href="http://pan.baidu.com/s/1i3rHRb3">如何建设云平台？</a></li>
                        <li><a href="http://pan.baidu.com/s/1c0wBLCk">数字化校园建设方案</a></li>
    				</div>
				</div>

	        </div>
	    </div>
{% endblock %}