{% extends "portal/portal_template.html" %}
{% load i18n %}
{% load staticfiles %}

{% block myjs %}
<style type="text/css">
.mydoc {
	display:inline-block;
	width:150px;
	height:120px;
	overflow:hidden;
	}
</style>
{% endblock %}

{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{% trans "Cloud Desktop SDK" %}</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	        <div class="container">
	        	<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img class="mydoc" src="{% static "portal/img/documents/sdk.png" %}">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>{% trans "client SDK" %}(Python)</h3>
                        <li><a href="http://pan.baidu.com/s/1kTFZRrL">示例程序源代码</a></li>
                        <li><a href="http://pan.baidu.com/s/1qWNXi6C">SDK源代码</a></li>
    				</div>
				</div>

                <div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img class="mydoc" src="{% static "portal/img/documents/sdk.png" %}">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>{% trans "client SDK" %}(Java)</h3>
    					<li><a href="http://pan.baidu.com/s/1dDF6h37">示例程序源代码</a></li>
                        <li><a href="http://pan.baidu.com/s/1c0rR6VI">SDK源代码</a></li>
                        <li><a href="http://pan.baidu.com/s/1qWulanq">SDK jar包</a></li>
                        <li><a href="http://pan.baidu.com/s/1o6LZwVo">第三方依赖jar包</a></li>
    				</div>
				</div>
	        </div>
	    </div>
{% endblock %}