{% extends "portal/portal_template.html" %}
{% load i18n %}
{% load staticfiles %}

{% block myjs %}
<style type="text/css">
.mydoc {
	display:inline-block;
	width:150px;
	height:120px;
	overflow:hidden;
	}
</style>
{% endblock %}

{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{% trans "Product Demo Videos" %}</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	        <div class="container">
	        	<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img class="mydoc" src="{% static "portal/img/documents/video.png" %}">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>{% trans "User Demo Video" %}</h3>
                        <li><a href="">{% trans "access cloud application" %}</a></li>
                        <p></p>
                        <li><a href="">{% trans "apply new account" %}</a></li>
                        <p></p>
    					<li><a href="">{% trans "use web-based virtual desktop" %}</a></li>
                        <li><a href="">{% trans "use windows-based virtual desktop" %}</a></li>
                        <li><a href="">{% trans "use thin-client-based virtual desktop" %}</a></li>

    				</div>
				</div>

                <div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img class="mydoc" src="{% static "portal/img/documents/video.png" %}">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>{% trans "Administrator Demo Video" %}</h3>
    					<li><a href="http://pan.baidu.com/s/1dJj5c">{% trans "Install Ubuntu 14.04 64bit Server" %}</a></li>
                        <li><a href="http://pan.baidu.com/s/1dDCOTot">{% trans "Install eduCloud into One Machine" %}</a></li>
                        <p></p>
                        <li><a href="http://pan.baidu.com/s/1eQD2RdS">{% trans "Initialization 1: Import image template" %}</a></li>
                        <li><a href="http://pan.baidu.com/s/1i3kq6wd">{% trans "Initialization 2: Create new template" %}</a></li>
                        <li><a href="http://pan.baidu.com/s/1o6snRaq">{% trans "Initialization 3: Modify existing template" %}</a></li>
                        <li><a href="">{% trans "Initialization 4: Add new User Accounts" %}</a></li>
                        <li><a href="">{% trans "Initialization 5: Add new Admin Accounts" %}</a></li>
                        <p></p>
                        <li><a href="">{% trans "create desktop virtual machine" %}</a></li>
                        <li><a href="">{% trans "create server virtual machine" %}</a></li>
                        <p></p>
                        <li><a href="">{% trans "system run-time parameters" %}</a></li>
                        <li><a href="">{% trans "physic machine management" %}</a></li>
                        <li><a href="">{% trans "virtual machine management" %}</a></li>
                        <li><a href="">{% trans "system tools" %}</a></li>
    				</div>
				</div>
	        </div>
	    </div>
{% endblock %}