{% extends "portal/portal_template.html" %}
{% load i18n %}
{% load staticfiles %}

{% block myjs %}
<style type="text/css">
.mydoc {
	display:inline-block;
	width:150px;
	height:120px;
	overflow:hidden;
	}
</style>
{% endblock %}

{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{% trans "Product Demo Videos" %}</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	        <div class="container">
	        	<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img class="mydoc" src="{% static "portal/img/documents/video.png" %}">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>{% trans "User Demo Video" %}</h3>
                        <li>
                            {% trans "access cloud application" %}
                            [<a href="">视频下载</a>]
                            [<a href="">在线观看</a>]
                        </li>
                        <p></p>
                        <li>
                            {% trans "apply new account" %}
                            [<a href="http://pan.baidu.com/s/1c0o44EG">视频下载</a>]
                            [<a href="http://pan.baidu.com/play/video#video/path=%2F%E6%88%91%E7%9A%84%E5%88%86%E4%BA%AB%2Feducloud%2Fapply-vd-account.mov&t=-1">在线观看</a>]
                        </li>
                        <p></p>
    					<li>
                            {% trans "use web-based virtual desktop" %}
                            [<a href="">视频下载</a>]
                            [<a href="">在线观看</a>]
                        </li>
                        <li>
                            {% trans "use windows-based virtual desktop" %}
                            [<a href="">视频下载</a>]
                            [<a href="">在线观看</a>]
                        </li>
                        <li>
                            {% trans "use thin-client-based virtual desktop" %}
                            [<a href="">视频下载</a>]
                            [<a href="">在线观看</a>]
                        </li>

    				</div>
				</div>

                <div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img class="mydoc" src="{% static "portal/img/documents/video.png" %}">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>{% trans "Administrator Demo Video" %}</h3>
    					<li>
                            {% trans "Install Ubuntu 14.04 64bit Server" %}
                            [<a href="http://pan.baidu.com/s/1dJj5c">视频下载</a>]
                            [<a href="http://pan.baidu.com/play/video#video/path=%2F%E6%88%91%E7%9A%84%E5%88%86%E4%BA%AB%2Feducloud%2Finstall-ubuntu-1404-server.mov&t=-1">在线观看</a>]
                        </li>
                        <li>
                            {% trans "Install eduCloud into One Machine" %}
                            [<a href="http://pan.baidu.com/s/1dDCOTot">视频下载</a>]
                            [<a href="http://pan.baidu.com/play/video#video/path=%2F%E6%88%91%E7%9A%84%E5%88%86%E4%BA%AB%2Feducloud%2Fallinone-install-config.mov&t=-1">在线观看</a>]
                        </li>
                        <p></p>
                        <li>
                            {% trans "Initialization 1: Import image template" %}
                            [<a href="http://pan.baidu.com/s/1eQD2RdS">视频下载</a>]
                            [<a href="">在线观看</a>]
                        </li>
                        <li>
                            {% trans "Initialization 2: Create new template" %}
                            [<a href="http://pan.baidu.com/s/1i3kq6wd">视频下载</a>]
                            [<a href="http://pan.baidu.com/play/video#video/path=%2F%E6%88%91%E7%9A%84%E5%88%86%E4%BA%AB%2Feducloud%2Fcreate-new-template.mov&t=-1">在线观看</a>]
                        </li>
                        <li>
                            {% trans "Initialization 3: Modify existing template" %}
                            [<a href="http://pan.baidu.com/s/1o6snRaq">视频下载</a>]
                            [<a href="http://pan.baidu.com/play/video#video/path=%2F%E6%88%91%E7%9A%84%E5%88%86%E4%BA%AB%2Feducloud%2Fmodify-existing-template.mov&t=-1">在线观看</a>]
                        </li>
                        <li>
                            {% trans "Initialization 4: Add new User Accounts" %}
                            [<a href="http://pan.baidu.com/s/1eQAfh6a">视频下载</a>]
                            [<a href="http://pan.baidu.com/play/video#video/path=%2F%E6%88%91%E7%9A%84%E5%88%86%E4%BA%AB%2Feducloud%2Fcreate_account.mov&t=-1">在线观看</a>]
                        </li>
                        <p></p>
                        <li>
                            {% trans "create desktop virtual machine" %}
                            [<a href="">视频下载</a>]
                            [<a href="">在线观看</a>]
                        </li>
                        <li>
                            {% trans "create server virtual machine" %}
                            [<a href="">视频下载</a>]
                            [<a href="">在线观看</a>]
                        </li>
                        <p></p>
                        <li>
                            {% trans "system run-time parameters" %}
                            [<a href="http://pan.baidu.com/s/1eQ8JnCe">视频下载</a>]
                            [<a href="http://pan.baidu.com/play/video#video/path=%2F%E6%88%91%E7%9A%84%E5%88%86%E4%BA%AB%2Feducloud%2Fsystem-parameters.mov&t=-1">在线观看</a>]
                        </li>
                        <li>
                            {% trans "physic machine management" %}
                            [<a href="">视频下载</a>]
                            [<a href="">在线观看</a>]
                        </li>
                        <li>
                            {% trans "virtual machine management" %}
                            [<a href="">视频下载</a>]
                            [<a href="">在线观看</a>]
                        </li>
                        <li>
                            {% trans "system tools" %}
                            [<a href="">视频下载</a>]
                            [<a href="">在线观看</a>]
                        </li>
    				</div>
				</div>
	        </div>
	    </div>
{% endblock %}