{% extends "portal/portal_template.html" %}
{% load i18n %}
{% load staticfiles %}

{% block myjs %}
<style type="text/css">
.mydoc {
	display:inline-block;
	width:150px;
	height:120px;
	overflow:hidden;
	}
</style>
{% endblock %}

{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{% trans "Product Demo Videos" %}</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	        <div class="container">
	        	<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img class="mydoc" src="{% static "portal/img/documents/video.png" %}">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>{% trans "User Demo Video" %}</h3>
                        <li>
                            {% trans "access cloud application" %}
                            [视频下载]
                            [在线观看]
                        </li>
                        <p></p>
                        <li>
                            {% trans "apply new account" %}
                            [<a href="http://pan.baidu.com/s/1c0o44EG">视频下载</a>]
                            [在线观看]
                        </li>
                        <p></p>
    					<li>
                            {% trans "use web-based virtual desktop" %}
                            [<a href="http://pan.baidu.com/s/1bnexovH">视频下载</a>]
                            [在线观看]
                        </li>
                        <li>
                            {% trans "use windows-based virtual desktop" %}
                            [<a href="http://pan.baidu.com/s/1o6Nwb7W">视频下载</a>]
                            [在线观看]
                        </li>
                        <li>
                            {% trans "use thin-client-based virtual desktop" %}
                            [视频下载]
                            [在线观看]
                        </li>

    				</div>
				</div>

                <div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img class="mydoc" src="{% static "portal/img/documents/video.png" %}">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>{% trans "Administrator Demo Video" %}</h3>
    					<li>
                            {% trans "Install Ubuntu 14.04 64bit Server" %}
                            [<a href="http://pan.baidu.com/s/1dJj5c">视频下载</a>]
                            [在线观看]
                        </li>
                        <li>
                            {% trans "Install eduCloud into One Machine" %}
                            [<a href="http://pan.baidu.com/s/1dDCOTot">视频下载</a>]
                            [在线观看]
                        </li>
                        <p></p>
                        <li>
                            {% trans "Initialization 1: Import image template" %}
                            [<a href="http://pan.baidu.com/s/1eQD2RdS">视频下载</a>]
                            [在线观看]
                        </li>
                        <li>
                            {% trans "Initialization 2: Create new template" %}
                            [<a href="http://pan.baidu.com/s/1i3kq6wd">视频下载</a>]
                            [在线观看]
                        </li>
                        <li>
                            {% trans "Initialization 3: Modify existing template" %}
                            [<a href="http://pan.baidu.com/s/1o6snRaq">视频下载</a>]
                            [在线观看]
                        </li>
                        <li>
                            {% trans "Initialization 4: Add new User Accounts" %}
                            [<a href="http://pan.baidu.com/s/1eQAfh6a">视频下载</a>]
                            [在线观看]
                        </li>
                        <p></p>
                        <li>
                            {% trans "create desktop virtual machine" %}
                            [<a href="http://pan.baidu.com/s/1hq1TXFu">视频下载</a>]
                            [在线观看]
                        </li>
                        <li>
                            {% trans "create server virtual machine" %}
                            <ul>
                                <li>
                                    上篇：创建 [<a href="http://pan.baidu.com/s/1pJ1FFkv">视频下载</a>][在线观看]
                                </li>
                                <li>
                                下篇：部署 [<a href="http://pan.baidu.com/s/1pJ5J16F">视频下载</a>][在线观看]
                                </li>
                            </ul>
                        </li>
                        <li>
                            应用虚拟化服务的创建和部署
                            [视频下载]
                            [在线观看]
                        </li>
                        <p></p>
                        <li>
                            {% trans "system run-time parameters" %}
                            [<a href="http://pan.baidu.com/s/1eQ8JnCe">视频下载</a>]
                            [在线观看]
                        </li>
                        <li>
                            {% trans "physic machine management" %}
                            [视频下载]
                            [在线观看]
                        </li>
                        <li>
                            {% trans "virtual machine management" %}
                            [视频下载]
                            [在线观看]
                        </li>
                        <li>
                            {% trans "system tools" %}
                            [视频下载]
                            [在线观看]
                        </li>
    				</div>
				</div>
	        </div>
	    </div>
{% endblock %}