Source: educloud 
Section: python
Priority: optional
Maintainer: thomas.li  <libiao.2005@gmail.com>
Build-Depends:
Homepage: http://www.google.com
Standards-Version: 3.8.3

Package: educloud-core
Architecture: all
Depends:  python2.7, apache2, libapache2-mod-wsgi, python-pip, python-dev, ifstat, sysstat, sudo, openssh-server, sshfs, iperf, rsync(>=3.1.0),
Description: educloud basic package

Package: educloud-portal
Architecture: all
Depends:  educloud-core
Description: educloud portal package

Package: educloud-clc
Architecture: all
Depends:  educloud-core, virtual-box, mysql-server, libmysqld-dev, libmysqlclient-dev, rabbitmq-server, memcached, libmemcached-tools,
Description: educloud clc package

Package: educloud-walrus
Architecture: all
Depends:  educloud-core, educloud-clc
Description: educloud walrus package

Package: educloud-cc
Architecture: all
Depends:  educloud-core, rabbitmq-server
Description: educloud cc package

Package: nodedaemon-clc
Architecture: all
Depends:  educloud-clc,
Description: educloud clc daemon package

Package: nodedaemon-walrus
Architecture: all
Depends:  educloud-walrus
Description: educloud walrus daemon package

Package: nodedaemon-cc
Architecture: all
Depends:  educloud-cc,
Description: educloud cc daemon package

Package: nodedaemon-nc
Architecture: all
Depends:  python-dev, ifstat, sysstat, sudo, openssh-server, python-pip, sshfs, iperf, virtual-box, rsync(>=3.1.0)
Description: educloud nc daemon package

