Source: educloud 
Section: python
Priority: optional
Maintainer: thomas.li  <libiao.2005@gmail.com>
Build-Depends:
Homepage: http://www.google.com
Standards-Version: 3.8.3

Package: educloud-luhyacloud
Architecture: all
Depends:  python2.7, , rsync(>=3.1.0)
Description: educloud luhyacloud package

Package: educloud-portal
Architecture: all
Depends:  educloud-luhyacloud
Description: educloud portal package

Package: educloud-clc
Architecture: all
Depends:  educloud-luhyacloud, virtual-box
Description: educloud clc package

Package: educloud-walrus
Architecture: all
Depends:  educloud-luhyacloud
Description: educloud walrus package

Package: educloud-cc
Architecture: all
Depends:  educloud-luhyacloud
Description: educloud cc package

Package: nodedaemon-clc
Architecture: all
Depends:  educloud-clc, memcached, libmemcached-tools, mysql-server, libmysqld-dev, libmysqlclient-dev, apache2, rabbitmq-server, libapache2-mod-wsgi, python-dev, ifstat, sysstat, sudo, openssh-server, python-pip, sshfs, iperf
Description: educloud clc daemon package

Package: nodedaemon-walrus
Architecture: all
Depends:  educloud-walrus
Description: educloud walrus daemon package

Package: nodedaemon-cc
Architecture: all
Depends:  educloud-cc, memcached, libmemcached-tools, apache2, rabbitmq-server, libapache2-mod-wsgi, python-dev, ifstat, sysstat, sudo, openssh-server, python-pip, sshfs, iperf
Description: educloud cc daemon package

Package: nodedaemon-nc
Architecture: all
Depends:  python-dev, ifstat, sysstat, sudo, openssh-server, python-pip, sshfs, iperf, virtual-box, rsync(>=3.1.0)
Description: educloud nc daemon package

