{% extends "clc/jtable/template.html" %}
{% load i18n %}

{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            title: 'Active Account List',
            selecting: true, //Enable selecting

            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting

            actions: {
                listAction:    '/clc/api/1.0/account/active/list',
                updateAction:  '/clc/api/1.0/account/active/update',
                deleteAction:  '/clc/api/1.0/account/active/delete'
            },

            fields: {
                id: {
                    key: true,
                    list: false,
                    edit: false,
                    create: false
                },
                //CHILD TABLE DEFINITION FOR "EXAMS"
                mychild: {
                    title: '',
                    width: '3%',
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function (accountData) {
                        var $img = $('<img src="/static/clc/pics/list_metro.png" />');
                        //Open child table when user clicks the image
                        $img.click(function () {
                            $('#myjtable').jtable('openChildTable',
                                    $img.closest('tr'), {
                                    title: accountData.record.ec_username + '\'s Cloud Desktop Parameters',
                                    actions: {
                                        listAction: function (postData, jtParams) {
                                                return {
                                                    "Result": "OK",
                                                    "Records": [{ "vdpara":  accountData.record.vdpara,
                                                                  "ec_desc": accountData.record.ec_desc, }],

                                                    "TotalRecordCount": 1,
                                                };
                                            }
                                    },
                                    fields: {
                                        vdpara: {
                                            title: 'vd parameters',
                                            display: function (data) {
                                                return '<pre>' + data.record.vdpara + '</pre>';
                                            }
                                        },
                                        ec_desc: {
                                            title:'description',
                                            display: function (data) {
                                                return '<pre>' + data.record.ec_desc + '</pre>';
                                            }
                                        }

                                    }
                                }, function (data) { //opened handler
                                    data.childTable.jtable('load');
                                });
                        });
                        //Return image to show on the person row
                        return $img;
                    }
                },
                ec_username: {
                    title: 'name',
                    width: '10%',
                    edit: false,
                },
                ec_displayname: {
                    title: 'display name',
                    width: '10%',
                },
                ec_email: {
                    title: 'email',
                    width: '10%',
                },
                ec_phone: {
                    title: 'phone',
                    width: '10%',
                },
                ec_supper_user: {
                    title: 'supper',
                    width: '10%',
                },
                ec_authpath_name: {
                    title: 'role',
                    width: '50%',
                    options: '/clc/api/1.0/settings/authpath/option/list'
                },
                vdpara: {
                    title: 'Parameters',
                    type: 'textarea',
                    list: false
                },
                ec_desc: {
                    title: 'desc',
                    type: 'textarea',
                    list: false
                },
            },
        });

        //Load student list from server
        $('#myjtable').jtable('load');
    });

</script>
{% endblock %}
