{% extends "clc/jtable/template.html" %}
{% load i18n %}

{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            title: '{% trans "AuthPath List" %}',

            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting

            actions: {
                listAction:    '/clc/api/1.0/settings/listauthpath',
                {% if role == "eduCloud.admin" %}
                createAction:  '/clc/api/1.0/settings/createauthpath',
                updateAction:  '/clc/api/1.0/settings/updateauthpath',
                deleteAction:  '/clc/api/1.0/settings/deleteauthpath',
                {% endif %}
            },

            fields: {
                id: {
                    key: true,
                    list: false,
                    edit: false,
                    create: false
                },
                ec_authpath_name: {
                    title: '{% trans "rolename" %}',
                    width: '40%'
                },
                ec_authpath_value: {
                    title: '{% trans "rolevalue" %}',
                    width: '60%'
                }
            }
        });

        //Load student list from server
        $('#myjtable').jtable('load');
    });

</script>
{% endblock %}
