{% extends "clc/jtable/template.html" %}
{% load i18n %}

{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            title: 'AuthPath List',

            paging: true, //Enable paging
            pageSize: 10, //Set page size (default: 10)
            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting

            actions: {
                listAction:    '/clc/api/1.0/settings/listauthpath',
                createAction:  '/clc/api/1.0/settings/createauthpath',
                updateAction:  '/clc/api/1.0/settings/updateauthpath',
                deleteAction:  '/clc/api/1.0/settings/deleteauthpath'
            },

            fields: {
                id: {
                    key: true,
                    list: false,
                    edit: false,
                    create: false
                },
                ec_authpath_name: {
                    title: 'name',
                    width: '40%'
                },
                ec_authpath_value: {
                    title: 'value',
                    width: '40%'
                }
            }
        });

        //Load student list from server
        $('#myjtable').jtable('load');
    });

</script>
{% endblock %}
