{% extends "clc/jtable/template.html" %}
{% load i18n %}

{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            title: 'Images List',

            selecting: true, //Enable selecting
            //selectingCheckboxes: true, //Show checkboxes on first column

            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting

            actions: {
                listAction:   '/clc/api/1.0/images/list',
                deleteAction: '/clc/api/1.0/images/delete',
                updateAction: '/clc/api/1.0/images/update',
                //createAction: '/clc/api/1.0/images/create'
            },
            fields: {
                id: {
                    key: true,
                    edit: false,
                    create: false,
                    list: false,
                },
                ecid: {
                    title: 'ecID',
                    width: '10%',
                    edit: false,
                },
                name: {
                    title: 'Name',
                    width: '10%'
                },
                ostype: {
                    title: 'OSType',
                    width: '10%',
                    options: '/clc/api/1.0/settings/ostype/option/list'
                },
                usage: {
                    title: 'Usage',
                    width: '10%',
                    options: '/clc/api/1.0/settings/vmusage/option/list'
                },
                ec_authpath_name: {
                    title: 'Group',
                    width: '10%',
                    options: '/clc/api/1.0/settings/authpath/option/list'
                },
                description: {
                    title: 'Desc',
                    type: 'textarea',
                    list: false
                },
                version: {
                    title: "Version",
                    width: '20%',
                    edit: false,
                },
                size: {
                    title: "Size",
                    width: '20%',
                    edit: false,
                },
            }
        });

        //Load student list from server
        $('#myjtable').jtable('load');
    });

</script>
{% endblock %}
