{% extends "clc/jtable/template.html" %}
{% load i18n %}

{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            selecting: true, //Enable selecting
            multiselect: true, //Allow multiple selecting
            selectingCheckboxes: true, //Show checkboxes on first column
            //selectOnRowClick: false, //Enable this to only select using checkboxes

            title: 'Images List',
            paging: true,
            pageSize: 10,
            sorting: true,
            multiSorting: true,
            defaultSorting: 'Name ASC',

            actions: {
                listAction:   '/clc/api/1.0/images/listimages',
                deleteAction: '/clc/api/1.0/images/deleteimages',
                updateAction: '/clc/api/1.0/images/updateimages',
                createAction: '/clc/api/1.0/images/createimages'
            },
            fields: {
                id: {
                    key: true,
                    edit: false,
                    list: false
                },
                ec_authpath_name: {
                    title: 'Group',
                    list: false
                },
                ecid: {
                    title: 'ecID',
                    width: '10%'
                },
                name: {
                    title: 'Name',
                    width: '10%'
                },
                ostype: {
                    title: 'OSType',
                    width: '10%',
                    options: { 'xp': 'WinXP', 'win7': 'Win7', 'win2003': 'Windows2003' }
                },
                usage: {
                    title: 'Usage',
                    width: '10%',
                    type: 'radiobutton',
                    options: { '1': 'Desktop', '2': 'Server' }
                },
                description: {
                    title: 'Desc',
                    type: 'textarea',
                    list: false
                },
                publish_date: {
                    title: 'Pub Date',
                    width: '20%',
                    type: 'date',
                    displayFormat: 'yy-mm-dd'
                },
                version: {
                    title: "Version",
                    width: '20%'
                },
                size: {
                    title: "Size",
                    width: '20%'
                },
            }
        });

        //Load student list from server
        $('#myjtable').jtable('load');
    });

</script>
{% endblock %}