{% extends "clc/jtable/template.html" %}
{% load i18n %}

{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            title: '{% trans "OS Types" %}',

            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting

            actions: {
                listAction:    '/clc/api/1.0/settings/listostypes',
                {% if role == "eduCloud.admin" %}
                createAction:  '/clc/api/1.0/settings/createostypes',
                updateAction:  '/clc/api/1.0/settings/updateostypes',
                deleteAction:  '/clc/api/1.0/settings/deleteostypes',
                {% endif %}
            },

            fields: {
                id: {
                    key: true,
                    list: false,
                    edit: false,
                    create: false,
                },
                ec_ostype: {
                    title: '{% trans "OS Type" %}',
                    width: '10%',
                },
                ec_memory: {
                    title: '{% trans "Memory" %}',
                    width: '5%',
                },
                ec_cpus: {
                    title: '{% trans "CPUs" %}',
                    width: '5%',
                },
                ec_disk_type: {
                    title: '{% trans "disk" %}',
                    width: '20%',
                },
                ec_nic_type: {
                    title: '{% trans "nic" %}',
                    width: '20%',
                    list: false,
                },
                ec_audio_para: {
                    title: '{% trans "audio" %}',
                    width: '35%',
                    list: false,
                },
            }
        });

        //Load student list from server
        $('#myjtable').jtable('load');
    });

</script>
{% endblock %}
