{% extends "clc/jtable/template.html" %}
{% load i18n %}

{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            title: 'OS Types',

            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting

            actions: {
                listAction:    '/clc/api/1.0/settings/listostypes',
                createAction:  '/clc/api/1.0/settings/createostypes',
                updateAction:  '/clc/api/1.0/settings/updateostypes',
                deleteAction:  '/clc/api/1.0/settings/deleteostypes'
            },

            fields: {
                id: {
                    key: true,
                    list: false,
                    edit: false,
                    create: false,
                },
                ec_ostype: {
                    title: 'OS Type',
                    width: '30%',
                },
                ec_disk_type: {
                    title: 'disk',
                    width: '30%',
                },
                ec_nic_type: {
                    title: 'nic',
                    width: '30%',
                    list: false,
                },
                ec_audio_para: {
                    title: 'audio',
                    width: '30%',
                    list: false,
                },
            }
        });

        //Load student list from server
        $('#myjtable').jtable('load');
    });

</script>
{% endblock %}
