{% extends "clc/jtable/template.html" %}
{% load i18n %}

{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            title: '{% trans "RBAC" %}',

            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting

            actions: {
                listAction:    '/clc/api/1.0/settings/listrbac',
                createAction:  '/clc/api/1.0/settings/createrbac',
                updateAction:  '/clc/api/1.0/settings/updaterbac',
                deleteAction:  '/clc/api/1.0/settings/deleterbac'
            },

            fields: {
                id: {
                    key: true,
                    list: false,
                    edit: false,
                    create: false,
                },
                ec_rbac_name: {
                    title: '{% trans "Name" %}',
                    width: '20%',
                },
                ec_authpath_name: {
                    title: '{% trans "Group" %}',
                    width: '40%',
                    options: '/clc/api/1.0/settings/authpath/option/list'
                },
                ec_rbac_permision: {
                    title: '{% trans "Permision" %}',
                    width: '40%',
                }
            }
        });

        //Load student list from server
        $('#myjtable').jtable('load');
    });

</script>
{% endblock %}
