{% extends "clc/jtable/template.html" %}
{% load i18n %}

{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            //title: 'Cluster Server List',

            selecting: true, //Enable selecting
            //selectingCheckboxes: true, //Show checkboxes on first column

            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting

            actions: {
                listAction:     '/clc/api/1.0/servers/list/cc',
                //deleteAction:   '/clc/api/1.0/servers/delete',
                updateAction:   '/clc/api/1.0/servers/update',
                //createAction: '/clc/api/1.0/servers/create'
            },
            fields: {
                id: {
                    key: true,
                    edit: false,
                    create: false,
                    list: false,
                },
                name: {
                    title: 'Name',
                    width: '8%'
                },
                ccname:{
                    title: "Cluster Name",
                    width: '18%',
                    edit: false,
                },
                cpus: {
                    title: 'CPUs',
                    width: '8%',
                    edit: false,
                },
                memory: {
                    title: 'Mem(G)',
                    width: '8%',
                    edit: false,
                },
                disk: {
                    title: "Disk(G)",
                    width: '8%',
                    edit: false,
                },
                ip0: {
                    title: "IP",
                    width: '10%',
                    edit: false,
                },
                mac0: {
                    title: "MAC",
                    width: '10%',
                    edit: false,
                },
                location: {
                    title: "Location",
                    width: '25%',
                },
            },
            //Register to selectionChanged event to handle events
            selectionChanged: function () {
                //Get all selected rows
                var $selectedRows = $('#myjtable').jtable('selectedRows');

                if ($selectedRows.length > 0) {
                    $selectedRows.each(function () {
                        //Show selected rows
                        var record = $(this).data('record');
                        window.parent.ccSelected(record.ccname);
                    });
                } else {
                    //No rows selected
                    window.parent.ccSelected(null);
                }
            },
        });

        //Load student list from server
        $('#myjtable').jtable('load');
    });

</script>
{% endblock %}
