{% extends "clc/jtable/template.html" %}
{% load i18n %}

{% block myfilter %}
<div class="filtering">
    <form>
        <p>
           {% trans "IP:" %}<input type="text" id="ip" />
           <button type="submit" id="LoadRecordsButton">{% trans "Filter Nodes" %}</button>
        </p>
    </form>
</div>
<p></p>
{% endblock %}

{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            //title: '{% trans "Node Server List',

            selecting: true, //Enable selecting
            //selectingCheckboxes: true, //Show checkboxes on first column

            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting

            actions: {
                listAction:       '/clc/api/1.0/tnc/list',
                //updateAction:     '/clc/api/1.0/tnc/update',
            },
            fields: {
                id: {
                    key: true,
                    edit: false,
                    create: false,
                    list: false,
                },
                status: {
                    title: '{% trans "status" %}',
                    width: '5%',
                    edit: false,
                },
                ip: {
                    title: '{% trans "IP0" %}',
                    width: '10%',
                    edit: false,
                },
                mac: {
                    title: '{% trans "MAC0" %}',
                    width: '10%',
                    edit: false,
                },
                cores: {
                    title: '{% trans "Cores" %}',
                    width: '5%',
                    edit: false,
                },
                memory: {
                    title: '{% trans "Mem(G)" %}',
                    width: '5%',
                    edit: false,
                },
                disk: {
                    title: '{% trans "Disk(G)" %}',
                    width: '5%',
                    edit: false,
                },
                name: {
                    title: '{% trans "Name" %}',
                    width: '10%'
                },
                osname:{
                    title: '{% trans "OS Name" %}',
                    width: '10%',
                    edit: false,
                },
                location: {
                    title: '{% trans "Location" %}',
                    width: '15%',
                }
            },
            //Register to selectionChanged event to handle events
            selectionChanged: function () {
                //Get all selected rows
                var $selectedRows = $('#myjtable').jtable('selectedRows');

                if ($selectedRows.length > 0) {
                    $selectedRows.each(function () {
                        //Show selected rows
                        var record = $(this).data('record');
                        window.parent.tncSelected(record.ccname, record.mac0);
                    });
                } else {
                    //No rows selected
                    window.parent.tncSelected(null, null);
                }
            },
        });

        //Re-load records when user click 'load records' button.
        $('#LoadRecordsButton').click(function (e) {
            e.preventDefault();

            $('#myjtable').jtable('load', {
                ip: $("#ip").val(),
            });
        });

        //Load all records when page is first shown
        $('#LoadRecordsButton').click();

        //Load student list from server
        //$('#myjtable').jtable('load');
    });

</script>
{% endblock %}
