{% extends "clc/jtable/template.html" %}
{% load i18n %}

{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            title: 'Server Role',

            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting

            actions: {
                listAction:    '/clc/api/1.0/settings/listserverrole',
                createAction:  '/clc/api/1.0/settings/createserverrole',
                updateAction:  '/clc/api/1.0/settings/updateserverrole',
                deleteAction:  '/clc/api/1.0/settings/deleteserverrole'
            },

            fields: {
                id: {
                    key: true,
                    list: false,
                    edit: false,
                    create: false,
                },
                ec_role_name: {
                    title: 'Name',
                    width: '80%',
                },
                ec_role_value: {
                    title: 'Value',
                    width: '20%',
                },

            }
        });

        //Load student list from server
        $('#myjtable').jtable('load');
    });

</script>
{% endblock %}
