{% extends "clc/jtable/template.html" %}
{% load i18n %}

{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            title: 'VM Usage',

            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting

            actions: {
                listAction:    '/clc/api/1.0/settings/listvmusage',
                createAction:  '/clc/api/1.0/settings/createvmusage',
                updateAction:  '/clc/api/1.0/settings/updatevmusage',
                deleteAction:  '/clc/api/1.0/settings/deletevmusage'
            },

            fields: {
                id: {
                    key: true,
                    list: false,
                    edit: false,
                    create: false,
                },
                ec_usage: {
                    title: 'Usage',
                    width: '100%',
                },

            }
        });

        //Load student list from server
        $('#myjtable').jtable('load');
    });

</script>
{% endblock %}
