{% extends "clc/jtable/template.html" %}
{% load i18n %}


{% block myjs %}
<script type="text/javascript">

    $(document).ready(function () {

        $('#myjtable').jtable({
            jqueryuiTheme: true,

            title: 'cloud server list',
            selecting: true, //Enable selecting

            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting

            actions: {
                listAction:    '/clc/api/1.0/vss/list',
            },

            fields: {
                id: {
                    key: true,
                    list: false,
                    edit: false,
                    create: false
                },
                insid: {
                    title: 'Instance ID',
                    width: '10%',
                    edit: false,
                    create: false,
                },
                imageid: {
                    title: 'Image ID',
                    width: '10%',
                    edit: false,
                    create: false,
                },
                name: {
                    title: 'Name',
                    width: '10%',
                    create: false,
                },
                state: {
                    title: 'VM State',
                    width: '10%',
                    create: false,
                },
                description: {
                    title: 'Description',
                    width: '10%',
                    create: false,
                    list: false,
                },
                cc: {
                    title: 'Cluster',
                    width: '10%',
                    create: false,
                },
                nc: {
                    title: 'Node',
                    width: '10%',
                    create: false,
                },
                cpus: {
                    title: 'CPUs',
                    width: '5%',
                    create: false,
                },
                memory: {
                    title: 'Memory',
                    width: '5%',
                    create: false,
                },
                mac: {
                    title: 'MAC Addr',
                    width: '10%',
                    create: false,
                },
            },
        });

        //Load student list from server
        $('#myjtable').jtable('load');
    });

</script>
{% endblock %}
