{% extends "clc/clctemplate.html" %}
{% load i18n %}
{% load staticfiles %}

{% block myjs %}
<script src="{% static "clc/myjs/my_server_mgr.js" %}"></script>
<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        $("#exip_edit").click(function(){
            mac0 = $("#mac0").text();
            exip_edit('clc', mac0);
        });

        $("#permission").click(function(){
            mac0 = $("#mac0").text();
            edit_server_permission('clc', mac0);
        });
    });
</script>
{% endblock%}

{% block content %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "OverView" %}
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                <h3>{% trans "Cloud Parameters" %}</h3>
                <div class="list-group">
                <p class="list-group-item">
                    {% trans "Clusters" %}
                    <span class="pull-right text-muted"><em>{{ cloud_data.num_clusters}}</em></span>
                </p>
                <p  class="list-group-item">
                    {% trans "Nodes" %}
                    <span class="pull-right text-muted"><em>{{ cloud_data.num_nodes}}</em></span>
                </p>
                <p  class="list-group-item">
                    {% trans "Local Nodes" %}
                    <span class="pull-right text-muted"><em>{{ cloud_data.num_lnodes}}</em></span>
                </p>
                <p  class="list-group-item">
                    {% trans "Terminals" %}
                    <span class="pull-right text-muted"><em>{{ cloud_data.num_terminals}}</em></span>
                </p>
                <p></p>
                <p  class="list-group-item">
                    {% trans "Accounts" %}
                    <span class="pull-right text-muted"><em>{{ cloud_data.num_accounts}}</em></span>
                </p>
                <p  class="list-group-item">
                    {% trans "Images" %}
                    <span class="pull-right text-muted"><em>{{ cloud_data.num_images}}</em></span>
                </p>
                <p  class="list-group-item">
                    {% trans "Virtual Servers" %}
                    <span class="pull-right text-muted"><em>{{ cloud_data.num_def_vss}}</em></span>
                </p>
                <p  class="list-group-item">
                    {% trans "Virtual Desktops" %}
                    <span class="pull-right text-muted"><em>{{ cloud_data.num_def_vd}}</em></span>
                </p>

                <h3>{% trans "Online Data" %}</h3>
                <p  class="list-group-item">
                    {% trans "Running Virtual Servers" %}
                    <span class="pull-right text-muted"><em>{{ cloud_data.num_run_vss}}</em></span>
                </p>
                <p  class="list-group-item">
                    {% trans "Running Virtual Desktops" %}
                    <span class="pull-right text-muted"><em>{{ cloud_data.num_run_vd}}</em></span>
                </p>
                <p  class="list-group-item">
                    {% trans "Running Local Virtual Desktops" %}
                    <span class="pull-right text-muted"><em>{{ cloud_data.num_run_lvd}}</em></span>
                </p>
                </div>

                <h3>{% trans "Service Data" %}</h3>
                <div class="list-group">
                <p class="list-group-item">
                    {% trans "Web Service" %}
                    <span class="pull-right text-muted"><em>{{ service_data.web }}</em></span>
                    <!--<button type="button" id="restart_http">Restart</button>-->
                </p>
                <p class="list-group-item">
                    {% trans "Daemon Service" %}
                    <span class="pull-right text-muted"><em>{{ service_data.daemon }}</em></span>
                    <!--<button type="button" id="restart_daemon">Restart</button>-->
                </p>
                <p class="list-group-item">
                    {% trans "SSH Service" %}
                    <span class="pull-right text-muted"><em>{{ service_data.ssh }}</em></span>
                    <!--<button type="button" id="restart_ssh">Restart</button>-->
                </p>
                <p class="list-group-item">
                    {% trans "AMQP Service" %}
                    <span class="pull-right text-muted"><em>{{ service_data.amqp }}</em></span>
                    <!--<button type="button" id="restart_amqp">Restart</button>-->
                </p>
                <p class="list-group-item">
                    {% trans "Memcache Service" %}
                    <span class="pull-right text-muted"><em>{{ service_data.memcache }}</em></span>
                    <!--<button type="button" id="restart_memcache">Restart</button>-->
                </p>
                </div>
            </div>

            <div style="display:none" id="ip0">{{  host_ips.ip0 }}</div>
            <div style="display:none" id="mac0">{{  host_ips.mac0 }}</div>

            <div class="col-lg-6">
                <h3>{% trans "Hardware Parameters" %}</h3>
                <p class="list-group-item">
                    {% trans "HostName" %}
                    <span class="pull-right text-muted"><em>{{  host_ips.name }}</em></span>
                </p>
                <p class="list-group-item">
                    {% trans "Location" %}
                    <span class="pull-right text-muted"><em>{{  host_ips.location }}</em></span>
                </p>
		        <p></p>
                <p class="list-group-item">
                    {% trans "CPU Cores" %}
                    <span class="pull-right text-muted"><em>{{ hardware_data.cpus }}</em></span>
                </p>
                <p class="list-group-item">
                    {% trans "CPU Usage" %}
                    <span class="pull-right text-muted"><em>{{hardware_data.cpu_usage}}%</em></span>
                </p>
                <p></p>
                <p class="list-group-item">
                    {% trans "Total Memory" %}
                    <span class="pull-right text-muted"><em>{{hardware_data.mem}}G</em></span>
                </p>
                <p class="list-group-item">
                    {% trans "Memory Usage" %}
                    <span class="pull-right text-muted"><em>{{hardware_data.mem_usage}}%</em></span>
                </p>
                <p></p>
                <p class="list-group-item">
                    {% trans "Total Disk" %}
                    <span class="pull-right text-muted"><em>{{hardware_data.disk}}G</em></span>
                </p>
                <p class="list-group-item">
                    {% trans "Disk Usage" %}
                    <span class="pull-right text-muted"><em>{{hardware_data.disk_usage}}%</em></span>
                </p>
                <h3>{% trans "IP Addresses" %}</h3>
                <p class="list-group-item">
                    {% trans "External IP Address" %}
                    <span class="pull-right text-muted"><em>{{  host_ips.eip }}</em></span>
                    {% if role == "eduCloud.admin" %}
                    <button type="button" id="exip_edit">{% trans "Edit" %}</button>
                    {% endif %}
                </p>
                <p class="list-group-item">
                    {% trans "IP Address 0" %}
                    <span class="pull-right text-muted"><em>{{  host_ips.ip0 }}</em></span>
                </p>
                <p class="list-group-item">
                    {% trans "IP Address 1" %}
                    <span class="pull-right text-muted"><em>{{  host_ips.ip1 }}</em></span>
                </p>
                <p class="list-group-item">
                    {% trans "IP Address 2" %}
                    <span class="pull-right text-muted"><em>{{  host_ips.ip2 }}</em></span>
                </p>
                <p class="list-group-item">
                    {% trans "IP Address 3" %}
                    <span class="pull-right text-muted"><em>{{  host_ips.ip3 }}</em></span>
                </p>
                <h3>{% trans "MAC Addresses" %}</h3>
                <p class="list-group-item">
                    {% trans "MAC Address 0" %}
                    <span class="pull-right text-muted"><em>{{  host_ips.mac0 }}</em></span>
                </p>
                <p class="list-group-item">
                    {% trans "MAC Address 1" %}
                    <span class="pull-right text-muted"><em>{{  host_ips.mac1 }}</em></span>
                </p>
                <p class="list-group-item">
                    {% trans "MAC Address 2" %}
                    <span class="pull-right text-muted"><em>{{  host_ips.mac2 }}</em></span>
                </p>
                <p class="list-group-item">
                    {% trans "MAC Address 3" %}
                    <span class="pull-right text-muted"><em>{{  host_ips.mac3 }}</em></span>
                </p>
                <p></p>
                {% if role == "eduCloud.admin" %}
                <button id="permission" type="button" class="btn btn-primary">{% trans "Edit Permission" %}</button>
                {% endif %}
             </div>
        </div>
    </div>
</div>
{% endblock %}
