{% extends "clc/clctemplate.html" %}
{% load i18n %}

{% block content %}
<div class="row">
   <div class="col-lg-6">
      <div class="panel panel-default">
          <iframe class="twofields" src="jt/settings/authpath" frameborder="0"  width="100%" ></iframe>
      </div>
      <div class="panel panel-default">
          <iframe class="threefields" src="jt/settings/vmtypes" frameborder="0"  width="100%" ></iframe>
      </div>
   </div>
   <div class="col-lg-6">
      <div class="panel panel-default">
          <iframe class="threefields" src="jt/settings/ostypes" frameborder="0"  width="100%" ></iframe>
      </div>
      <div class="panel panel-default">
          <iframe class="twofields" src="jt/settings/vmusage" frameborder="0"  width="100%" ></iframe>
      </div>
      <div class="panel panel-default">
          <iframe class="twofields" src="jt/settings/serverrole" frameborder="0"  width="100%" ></iframe>
      </div>
   </div>
</div>
{% endblock %}

{% block myjs %}

<script type="text/javascript" language="javascript">
$('.twofields').css('height', $(window).height()/3+'px');
$('.threefields').css('height', $(window).height()/2+'px');
</script>

{% endblock %}
