{% extends "clc/clctemplate.html" %}
{% load i18n %}
{% load staticfiles %}

{% block myjs %}
<script src="{% static "clc/plupload-2.1.2/js/plupload.full.min.js" %}"></script>
<script src="{% static "clc/plupload-2.1.2/js/jquery.plupload.queue/jquery.plupload.queue.min.js" %}"></script>
<script src="{% static "clc/zTree_v3/js/jquery.ztree.core-3.5.js" %}"></script>
<script src="{% static "clc/zTree_v3/js/jquery.ztree.excheck-3.5.js" %}"></script>
<script src="{% static "clc/zTree_v3/js/jquery.ztree.exedit-3.5.js" %}"></script>
<script type="text/javascript">
var setting = {
    view: {
        selectedMulti: false,
    },
    edit: {
        enable: true,
        showRemoveBtn: true,
        showRenameBtn: false
    },
    data: {
        keep: {
            parent:true,
            leaf:true
        },
        simpleData: {
            enable: true
        }
    },
    callback: {
        onMouseDown: image_onMouseDown_handle,
    }
};

function image_onMouseDown_handle(event, treeId, treeNode) {
    if (treeNode && treeNode.isParent) {
        $("#selected_image_folder").text(treeNode.name);
        $("#image_uploader").show();
    } else {
        $("#selected_image_folder").text('');
        $("#image_uploader").hide();
    }
};

var imag_zNodes =[
{% for img in image_list %}
    {"name": '{{img}}', open:true, children: [
			    { "name":"machine"},
			]
	},
{% endfor %}
];

var software_zNodes =[

];

$("#add_image_node").click(function(){
    var folder_name = prompt("Please enter new folder name", "NewFolder");
    if (folder_name != null) {
        var zTree = $.fn.zTree.getZTreeObj("image_tree")
        zTree.addNodes(null, { name:folder_name, isParent:true } );
    }
});

$("#add_software_node").click(function(){

});

$(document).ready(function(){
    // Setup html5 version
    $("#image_uploader").pluploadQueue({
        // General settings
        runtimes : 'html5,html4',
        url : "/clc/tools/image_upload",
        chunk_size : '10Mb',
        rename: true,
        drapgrop: true,

        init : {
            BeforeUpload: function(up, file) {
                // Called right before the upload for a given file starts, can be used to cancel it if required
                var folder_name = $("#selected_image_folder").text();
                up.setOption('multipart_params', {'image_path': '/storage/images/' + folder_name });
            },
        }
      });

    // Setup html4 version
    $("#software_uploader").pluploadQueue({
        // General settings
        runtimes : 'html5,html4',
        url : "/clc/tools/file_upload",
        chunk_size : '10Mb',
        rename: true,
        drapgrop: true,
    });

    $.fn.zTree.init($("#image_tree"), setting, imag_zNodes);
    $.fn.zTree.init($("#software_tree"), setting, software_zNodes);
    $("#image_uploader").hide();

});
</script>
{% endblock %}

{% block content %}
<link href="{% static "clc/plupload-2.1.2/js/jquery.plupload.queue/css/jquery.plupload.queue.css" %}" rel="stylesheet">
<link href="{% static "clc/zTree_v3/css/zTreeStyle/zTreeStyle.css" %}" rel="stylesheet">
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- .panel-heading -->
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   class="collapsed">Upload Raw Images</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <div class="col-lg-6">
                                    <p>Step 1: create and select directory</p>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Image Directory in Server
                                            <div class="pull-right">
                                                <div class="btn-group">
                                                    <button id="add_image_node" type="button" class="btn btn-default btn-xs">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div id="selected_image_folder" style="display:none"></div>
                                            <ul id="image_tree" class="ztree" style="height:250px; overflow:auto;"></ul>
                                        </div>
                                        <!-- .panel-body -->
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p>Step 2: Select image file to upload</p>
                                        <div id="image_uploader" style="height:330px; overflow:auto;">Your browser doesn't support HTML5.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                   class="collapsed">Upload Software</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Software Directory in Server
                                            <div class="pull-right">
                                                <div class="btn-group">
                                                    <button id="add_software_node" type="button" class="btn btn-default btn-xs">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div id="selected_software_folder" style="display:none"></div>
                                            <ul id="software_tree" class="ztree" style="height:250px; overflow:auto;"></ul>
                                        </div>
                                        <!-- .panel-body -->
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div id="software_uploader" style="height:330px; overflow:auto;">Your browser doesn't support HTML5.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}
