{% extends "clc/clctemplate.html" %}
{% load i18n %}
{% load staticfiles %}

{% block myjs %}
<script src="{% static "clc/myjs/my_server_mgr.js" %}"></script>
<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        $("#exip_edit").click(function(){
            mac0 = $("#mac0").text();
            exip_edit('walrus', mac0);
        });

        $("#permission").click(function(){
            mac0 = $("#mac0").text();
            edit_server_permission('walrus', mac0);
        });
    });
</script>
{% endblock%}

{% block content %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "OverView" %}
        </div>
        <div class="panel-body">
            <div class="col-lg-6">

                <div class="list-group">
                    <h3>{% trans "Service Data" %}</h3>
                    <p class="list-group-item">
                        {% trans "Web Service" %}
                        <span class="pull-right text-muted"><em>{{ service_data.web }}</em></span>
                        <!--<button type="button" id="restart_http">Restart</button>-->
                    </p>
                    <p class="list-group-item">
                        {% trans "Daemon Service" %}
                        <span class="pull-right text-muted"><em>{{ service_data.daemon }}</em></span>
                        <!--<button type="button" id="restart_daemon">Restart</button>-->
                    </p>
                    <p class="list-group-item">
                        {% trans "SSH Service" %}
                        <span class="pull-right text-muted"><em>{{ service_data.ssh }}</em></span>
                        <!--<button type="button" id="restart_ssh">Restart</button>-->
                    </p>
                    <p class="list-group-item">
                        {% trans "RSYNC Service" %}
                        <span class="pull-right text-muted"><em>{{ service_data.rsync }}</em></span>
                        <!--<button type="button" id="restart_rsync">Restart</button>-->
                    </p>
                    <h3>{% trans "Hardware Parameters" %}</h3>
                    <p class="list-group-item">
                        {% trans "HostName" %}
                        <span class="pull-right text-muted"><em>{{  host_ips.name }}</em></span>
                    </p>
                    <p class="list-group-item">
                        {% trans "Location" %}
                        <span class="pull-right text-muted"><em>{{  host_ips.location }}</em></span>
                    </p>
                    <p></p>
                    <p class="list-group-item">
                        {% trans "CPU Cores" %}
                        <span class="pull-right text-muted"><em>{{ hardware_data.cpus }}</em></span>
                    </p>
                    <p class="list-group-item">
                        {% trans "CPU Usage" %}
                        <span class="pull-right text-muted"><em>{{hardware_data.cpu_usage}}%</em></span>
                    </p>
                    <p></p>
                    <p class="list-group-item">
                        {% trans "Total Memory" %}
                        <span class="pull-right text-muted"><em>{{hardware_data.mem}}G</em></span>
                    </p>
                    <p class="list-group-item">
                        {% trans "Memory Usage" %}
                        <span class="pull-right text-muted"><em>{{hardware_data.mem_usage}}%</em></span>
                    </p>
                    <p></p>
                    <p class="list-group-item">
                        {% trans "Total Disk" %}
                        <span class="pull-right text-muted"><em>{{hardware_data.disk}}G</em></span>
                    </p>
                    <p class="list-group-item">
                        {% trans "Disk Usage" %}
                        <span class="pull-right text-muted"><em>{{hardware_data.disk_usage}}%</em></span>
                    </p>
                </div>
            </div>

            <div style="display:none" id="ip0"> {{  host_ips.ip0 }}</div>
            <div style="display:none" id="mac0">{{ host_ips.mac0 }}</div>

            <div class="col-lg-6">
                <div class="list-group">
                    <h3>{% trans "IP Addresses" %}</h3>
                    <p class="list-group-item">
                        {% trans "External IP Address" %}
                        <span class="pull-right text-muted"><em>{{  host_ips.eip }}</em></span>
                        <button type="button" id="exip_edit">{% trans "Edit" %}</button>
                    </p>
                    <p class="list-group-item">
                        {% trans "IP Address 0" %}
                        <span class="pull-right text-muted"><em>{{  host_ips.ip0 }}</em></span>
                    </p>
                    <p class="list-group-item">
                        {% trans "IP Address 1" %}
                        <span class="pull-right text-muted"><em>{{  host_ips.ip1 }}</em></span>
                    </p>
                    <p class="list-group-item">
                        {% trans "IP Address 2" %}
                        <span class="pull-right text-muted"><em>{{  host_ips.ip2 }}</em></span>
                    </p>
                    <p class="list-group-item">
                        {% trans "IP Address 3" %}
                        <span class="pull-right text-muted"><em>{{  host_ips.ip3 }}</em></span>
                    </p>
                    <h3>{% trans "MAC Addresses" %}</h3>
                    <p class="list-group-item">
                        {% trans "MAC Address 0" %}
                        <span class="pull-right text-muted"><em>{{  host_ips.mac0 }}</em></span>
                    </p>
                    <p class="list-group-item">
                        {% trans "MAC Address 1" %}
                        <span class="pull-right text-muted"><em>{{  host_ips.mac1 }}</em></span>
                    </p>
                    <p class="list-group-item">
                        {% trans "MAC Address 2" %}
                        <span class="pull-right text-muted"><em>{{  host_ips.mac2 }}</em></span>
                    </p>
                    <p class="list-group-item">
                        {% trans "MAC Address 3" %}
                        <span class="pull-right text-muted"><em>{{  host_ips.mac3 }}</em></span>
                    </p>
                    <p></p>
                    <button id="permission" type="button" class="btn btn-primary">{% trans "Edit Permission" %}</button>
                </div>
             </div>
        </div>
    </div>
</div>
{% endblock %}
