{% extends "clc/wizard/wizard.html" %}
{% load i18n %}

{% block myjavascript %}
<style type="text/css">
        #progressbar, #submit_progressbar {
            height: 18px;
            width: 80%;
            text-align: center;
            overflow: hidden;
            position: relative;
            vertical-align: middle;
        }

        #prlabel, #submit_prlabel {
            float: left;
            width: 100%;
            height: 100%;
            position: absolute;
            vertical-align: middle;
        }

        #erromsg {
            color: red
        }

        #luhyaVM a:link, #luhyaVM a:visited {
            font-weight: bold;
            font-size: 14px;
            color: #FFFFFF;
            background-color: #bf37a8;
            width: 120px;
            text-align: center;
            padding: 4px;
            text-decoration: none;
        }

        #luhyaVM a:hover, #luhyaVM a:active {
            background-color: #4c4399;
        }
</style>

<script>
var progress = 0;
var progressbar;
var srcid;
var dstid;
var insid;
var vmstatus;

var retrytimes = 0;
var maxRetryTimes = 100;
var timer_interval = 5000;

function sleep(sleepTime) {
    for (var start = Date.now(); Date.now() - start <= sleepTime;) {}
}

/////////////////////////////
// Prepare Phase functions
/////////////////////////////

function prepareVM() {

    url = "/clc/image/create/task/prepare/" + $.trim(srcid) + "/" + $.trim(dstid) + "/" + $.trim(insid);
    $.getJSON(url,function (data) {
        var items = [];
        $.each(data, function (key, val) {
            items[key] = val;
        });
    });

    items = {};
    items['pahse'] = 'preparing';
    items['state'] = 'downloading';
    items['progress'] = 0;
    items['failed'] = 0;
    items['errormsg'] = '';
    items['prompt'] = '';

    prepareUIUpdate(items);
}
function prepareUIUpdate(items) {
    phase    = items['phase'];
    state    = items['state'];
    failed   = items['failed'];
    progress = items['progress'];
    prompt   = items['prompt'];
    errormsg = items['errormsg'];

    if (phase != 'preparing') {
        setTimeout(getPrepareProgress, timer_interval);
        return;
    }

    if (state == 'init') {
        progress = 0;
        //$(".jw-button-next").attr("disabled", true);
        $("#btn_prepare").removeClass("disabled");
        $("#progressbar").progressbar({"value": progress}).children("#prlabel").html(progress + ' %');

        $("#desclabel").text(prompt);
        $("#desclabel").css('color', 'black');
        $("#desclabel").css('display', 'block');

        if (failed == 1) {
            $("#desclabel").text(errormsg);
            $("#desclabel").css('color', 'red');
            $("#desclabel").css('display', 'block');
        }
    }
    if (state == 'downloading' || state == "cloning") {
        //$(".jw-button-next").attr("disabled", true);
        $("#btn_prepare").addClass("disabled");

        $("#progressbar").progressbar({"value": progress}).children("#prlabel").html(progress + ' %');
        $("#desclabel").text(prompt);
        $("#desclabel").css('color', 'black');

        setTimeout(getPrepareProgress, timer_interval);
    }

    if (state == 'done') {
        prepareDone();
    }

    $("#runningstatus").text('stopped');
}

function getPrepareProgress() {
    url = "/clc/image/create/task/getprogress/" + $.trim(srcid) + "/" + $.trim(dstid) + "/" + $.trim(insid);
    $.getJSON(url,function (data) {
        var items = [];
        $.each(data, function (key, val) {
            items[key] = val;
        });

        prepareUIUpdate(items);

    }).error(function () {
        setTimeout(getPrepareProgress, timer_interval);
    });
}

function prepareDone() {
    progress = 100;
    $("#btn_prepare").addClass("disabled");
    $("#progressbar").progressbar({"value": progress}).children("#prlabel").html(progress + ' %');

    $("#desclabel").text("{% trans "Prepare Image Succeed. please click 'Next' button and run it." %}");
    $("#desclabel").css('color', 'green');

    //$(".jw-button-next").removeAttr("disabled");
}

/////////////////////////////
// editing Phase functions
/////////////////////////////

function runVM() {
    url = "/clc/image/create/task/run/" + $.trim(srcid) + "/" + $.trim(dstid) + "/" + $.trim(insid);
    $.getJSON(url,function (data) {
        var items = [];
        $.each(data, function (key, val) {
            items[key] = val;
        });
    })

    items = {};
    items['pahse'] = 'editing';
    items['state'] = 'booting';
    items['failed'] = 0;
    editPageUIupdate(items);
}

function editPageUIupdate(items) {
    phase    = items['phase'];
    state    = items['state'];
    url      = '{{ rdp_url}}';
    failed   = items['failed'];

    if (phase != 'editing') {
        setTimeout(getVMStatus, timer_interval);
        return;
    }
    if (state == 'stopped') {
        //$(".jw-button-next").removeAttr("disabled");

        $("#btn_run").removeClass("disabled");
        $('#btn_stop').addClass('disabled');

        $("#editdesc").css('display', 'none');
        $("#luhyaVM").css("display", "none");

        $("#runningstatus").text('stopped');

        if (failed == 1) {
            $("#editdesc").text("{% trans "Sorry, Run Image failed. please click 'Run' button and try again." %}");
            $("#editdesc").css('color', 'red');
            $("#editdesc").css('display', 'block');
        }
    }
    if (state == 'booting') {
        //$(".jw-button-next").attr("disabled", true);

        $('#btn_run').addClass('disabled');
        $('#btn_stop').addClass('disabled');

        $("#editdesc").css('display', 'none');
        $("#luhyaVM").css("display", "none");

        $("#runningstatus").text('booting');
        setTimeout(getVMStatus, timer_interval);
    }
    if (state == 'running' || state == 'Running') {
        //$(".jw-button-next").attr("disabled", true);

        $('#btn_run').removeClass('disabled');
        $('#btn_stop').removeClass('disabled');

        $("#editdesc").css('display', 'none');
        updateLuhyaVMURL(url);

        $("#runningstatus").text('running');
    }
}

function getVMStatus() {
    url = "/clc/image/create/task/getvmstatus/" + $.trim(srcid) + "/" + $.trim(dstid) + "/" + $.trim(insid);
    $.getJSON(url,function (data) {
        var items = [];
        $.each(data, function (key, val) {
            items[key] = val;
        });

        editPageUIupdate(items);

    }).error(function () {
        setTimeout(getVMStatus, timer_interval);
    });

}

function updateLuhyaVMURL(url) {
    $("#luhyaVM a").attr("href", url);
    $("#luhyaVM").css("display", "inline");
}

function stopVM() {
    url = "/clc/image/create/task/stop/" + $.trim(srcid) + "/" + $.trim(dstid) + "/" + $.trim(insid);
    $.getJSON(url,function (data) {
        var items = [];
        $.each(data, function (key, val) {
            items[key] = val;
        });
    });

    items = {};
    items['phase'] = 'editing';
    items['state'] = 'stopped';
    items['failed'] = 0;
    editPageUIupdate(items);
}

/////////////////////////////
// submitting Phase functions
/////////////////////////////

function submitVM() {
    url = "/clc/image/create/task/submit/" + $.trim(srcid) + "/" + $.trim(dstid) + "/" + $.trim(insid);
    $.getJSON(url,function (data) {
        var items = [];
        $.each(data, function (key, val) {
            items[key] = val;
        });
    });

    items = {};
    items['pahse'] = 'submitting';
    items['state'] = 'uploading';
    items['progress'] =0;
    items['failed'] = 0;
    submitPageUIupdate(items);
}

function submitPageUIupdate(items) {
    phase = items['phase'];
    state = items['state'];
    failed = items['failed'];
    progress = items['progress'];
    prompt   = items['prompt'];
    errormsg = items['errormsg'];

    if (phase != 'submitting') {
        setTimeout(getSubmitProgress, timer_interval);
        return;
    }

    if (state == 'init') {
        // $(".jw-button-next").attr("disabled", true);
        $('#btn_submit').removeClass('disabled');

        progress = 0;
        $("#submit_progressbar").progressbar({"value": progress}).children("#submit_prlabel").html(progress + ' %');
        $("#submit_laber").text(prompt);
        $("#submit_laber").css('color', 'black');

        if (failed == 1) {
            $("#submit_laber").text(errormsg);
            $("#submit_laber").css('color', 'red');
        }
    }
    if (state == 'uploading') {

        // $(".jw-button-next").attr("disabled", true);
        $('#btn_submit').addClass('disabled');

        $("#submit_progressbar").progressbar({"value": progress}).children("#submit_prlabel").html(progress + ' %');
        $("#submit_laber").text(prompt);
        $("#submit_laber").css('color', 'black');

        setTimeout(getSubmitProgress, timer_interval);
    }
    if (state == 'done') {
        $('#btn_run').addClass('disabled');
        $('#btn_stop').addClass('disabled');

        // $(".jw-button-next").removeAttr("disabled");
        $('#btn_submit').addClass('disabled');

        progress = 100;
        $("#submit_progressbar").progressbar({"value": progress}).children("#submit_prlabel").html(progress + ' %');

        $("#submit_laber").text("{% trans "Submit Image Succeed. please click 'Next' button and finish it." %}");
        $("#submit_laber").css('color', 'green');
    }
}

function getSubmitProgress() {
    url = "/clc/image/create/task/getsubmitprogress/" + $.trim(srcid) + "/" + $.trim(dstid) + "/" + $.trim(insid);
    $.getJSON(url,function (data) {
        var items = [];
        $.each(data, function (key, val) {
            items[key] = val;
        });

        submitPageUIupdate(items);

    }).error(function () {
        setTimeout(getSubmitProgress, timer_interval);
    });
}

function init_displayWebPage(data) {
    phase = data['phase'];
    state = data['state'];

    if (phase == 'preparing') {
        prepareUIUpdate(data);
    }
    if (phase == 'editing') {
        prepareDone();
        //$(".jw-button-next").click();
        editPageUIupdate(data);
    }
    if (phase == 'submitting') {
        prepareDone();
        //$(".jw-button-next").click();
        submitPageUIupdate(data);
    }
}

$(document).ready(function () {

    srcid = $("#srcid").text();
    dstid = $("#dstid").text();
    insid = $("#insid").text();
    tid   = $("#tid").text();

    progressbar = $("#progressbar").progressbar({
        max: 100
    });

    submit_progressbar = $("#submit_progressbar").progressbar({
        max: 100
    });

    $("#wizard").jWizard({
        title: true,
        menu: true,
        progress: {
            label: "count",
            append: ""
        },
        cancel: function () {
            window.close();
        },
        finish: function () {
            window.close();
        }
    });

    $("#btn_prepare").click(function () {
        prepareVM();
    });

    $("#btn_run").click(function () {
        runVM();
    });

    $("#btn_stop").click(function () {
        stopVM();
    });

    $("#btn_submit").click(function () {
        submitVM();
    });

    //1- preparing, 2- editing, 3- submitting
    var data = {};

    data['phase']   = '{{task.phase}}';
    data['state']   = '{{task.state}}';
    data['promt']   = '';
    data['errormsg']= '';
    data['failed']  = 0;
    data['progress']= 0;

    init_displayWebPage(data);
});
</script>
{% endblock %}

{% block mywizard %}
    <div id="tid"   style="display: none;">{{ task.tid }}</div>
    <div id="srcid" style="display: none;">{{ task.srcimgid }}</div>
    <div id="dstid" style="display: none;">{{ task.dstimgid }}</div>
    <div id="insid" style="display: none;">{{ task.insid }}</div>

    <form id="wizard">
        <fieldset>
            <legend>{% trans "Prepare Image." %}</legend>
            <button id="btn_prepare"    type="button" class="btn btn-primary">{% trans "Prepare" %}</button>
            <p> </p>
            <p> </p>
            <p id="desclabel">{% trans "start to prepare image, please wait ... ..." %}</p>
            <div id="progressbar">
                <div id='prlabel'>{% trans "downloading ... ..." %}</div>
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans "run/edit Image." %}</legend>
            <p id="erromsg"></p>
            <div class="opontable">
                <button id="btn_run"    type="button" class="btn btn-primary">{% trans "Run" %}</button>
                <button id="btn_stop"   type="button" class="btn btn-primary disabled">{% trans "Stop" %}</button>
                <p> </p>
                <p> </p>
                <p id="editdesc" style="display: none;"></p>
                <div id="luhyaVM" style="display: none;">
                    <a href="luhyavm://abcdefg" target="_blank">{% trans "Connect to Cloud Desktop" %}</a>
                </div>
            </div>
            <p> </p>
            <p> </p>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th width="5">{% trans "Image Template Name" %}</th>
                    <th width="5">{% trans "New Image Status" %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ imgobj.name }}</td>
                    <td id="runningstatus">stopped</td>
                </tr>
                </tbody>
            </table>
            <p> </p>
            <p> </p>
            <div><a href="/static/luhyaAdmin/plugin.zip">{% trans "Download plugin for Cloud Desktop Connection" %}</a></div>
        </fieldset>

        {% if submit == 1 %}
            <fieldset>
                <legend>{% trans "submit Image" %}</legend>
                <p id="submit_erromsg"></p>
                <button id="btn_submit" type="button" class="btn btn-primary">{% trans "Submit" %}</button>
                <p> </p>
                <p> </p>
                <div id="submit_section">
                    <p id="submit_laber">{% trans "Now we will start to submit a new image, pglease wait ... ..." %}</p>
                    <div id="submit_progressbar">
                        <div id='submit_prlabel'>{% trans "Submitting ... ..." %}</div>
                    </div>
                </div>
            </fieldset>
        {% endif %}
    </form>
{% endblock %}
