{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="{% static  "clc/jwizard/jquery-ui-1.10.3.custom.min.css" %}" rel="stylesheet">
    <link href="{% static  "clc/jwizard/jquery.jWizard.min.css" %}" rel="stylesheet">

    <link href="{% static "clc/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "clc/css/plugins/dataTables.bootstrap.css" rel="stylesheet">

    <script src="{% static "clc/jwizard/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "clc/jwizard/jquery-ui-1.10.0.min.js" %}"></script>

    <script src="{% static "clc/jwizard/jquery.jWizard.min.js" %}"></script>
    <script src="{% static "clc/jwizard/spin.min.js" %}"></script>

    <script src="{% static "clc/js/bootstrap.min.js" %}"></script>
    <script>
    function isEduClient()
    {
        var ret;
        var fs;

        try {
            fs = require("fs");
            ret = 1;
        } catch (error) {
            ret = 0;
        }

        return ret;
    }

    function getOSType() {
        var browserName=navigator.userAgent.toLowerCase();
        if (/linux/i.test(browserName)) {
            return "linux";
        } else if (/macintos/i.test(browserName)) {
            return "macintos";
        } else if (/windows/i.test(browserName)) {
            return "windows";
        }
    }

    function runFunc(cmd)
    {
          var exec = require('child_process').exec,
              child;

          child = exec(cmd,
            function (error, stdout, stderr) {
              console.log('stdout: ' + stdout);
              console.log('stderr: ' + stderr);
              if (error !== null) {
                console.log('exec error: ' + error);
              }
          });
    }
    </script>

    {% block myjavascript %}
    {% endblock %}

    <title>{{ pagetitle }}</title>
</head>
<body>
    {% block mywizard %}
    {% endblock %}
</body>
</html>